table.userpolicy.annoucement-tables.adminuser-tbl tr th {
  width: 8%;
}
table.userpolicy.annoucement-tables.adminuser-tbl tr td {
  width: 8%;
}

span.nrmltxt.adminUser-add-button em {
  display: block;
  margin-right: 10px;
  font-style: normal;
  margin-left: 0;
  float: left;
}

span.nrmltxt.adminUser-add-button button.reset {
  margin-left: 0;
  float: left;
}

span.nrmltxt.adminUser-add-button button.reset:hover {
  margin-left: 0;
  float: left;
}

.all-month-years ul > li {
  display: block;
  float: left;
  width: 48px;
  height: 48px;
  border-radius: 48px;
  text-align: center;
  margin-right: 12px;
  margin-left: 0;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  cursor: pointer;
  user-select: none;
}

button.reset.mT0.special-blue-btn {
  background: #2a82f0;
  color: #fff;
  margin-left: 0;
  margin-top: 1px;
  font-weight: bold;
  max-width: 137px;
}

button.reset.mT0.special-blue-btn:hover {
  padding: 5px 8px 6px;
  border-color: transparent;
}

table.userlist.annoucement-tables.withcheckbox.compnay-map-table tr td:first-child {
  width: 40px;
  min-width: 40px;
  max-width: 40px;
}

table.userlist.annoucement-tables.withcheckbox.compnay-map-table tr th:first-child {
  width: 40px;
  min-width: 40px;
  max-width: 40px;
}

table.userlist.annoucement-tables.withcheckbox.compnay-map-table tr th {
  width: 33.33%;
}

table.userlist.annoucement-tables.withcheckbox.compnay-map-table tr td {
  width: 33.33%;
}

table.userlist.annoucement-tables.withcheckbox.user-role-add-page tr td:first-child {
  width: 40px;
  min-width: 40px;
  max-width: 40px;
}

table.userlist.annoucement-tables.withcheckbox.user-role-add-page tr th:first-child {
  width: 40px;
  min-width: 40px;
  max-width: 40px;
}

table.userlist.annoucement-tables.withcheckbox.user-role-add-page tr td {
  width: 20%;
}

table.userlist.annoucement-tables.withcheckbox.user-role-add-page tr th {
  width: 20%;
}

table.addblacklist.withcheckbox.userRole-company-table tr td {
  width: 25%;
}

table.addblacklist.withcheckbox.userRole-company-table tr th {
  width: 25%;
}

table.addblacklist.withcheckbox.userRole-company-table.select-role-tabledatepicker tr td:first-child {
  width: 40px;
  min-width: 40px;
  max-width: 40px;
}

table.addblacklist.withcheckbox.userRole-company-table.select-role-tabledatepicker tr th:first-child {
  width: 40px;
  min-width: 40px;
  max-width: 40px;
}

table.addblacklist.withcheckbox.userRole-company-table.select-role-tabledatepicker tr td {
  width: 20%;
}

table.addblacklist.withcheckbox.userRole-company-table.select-role-tabledatepicker tr th {
  width: 20%;
}

table.addblacklist.withcheckbox tr td input[type="text"] {
  width: 200px;
  height: 30px;
  padding: 0px 0 0px 12px;
  border-radius: 4px;
  border: solid 1px rgba(0, 0, 0, 0.14);
  background-color: #fff;
}

table.addblacklist.withcheckbox.select-role-tabledatepicker tr td {
  overflow: visible;
}

.main-buttonaction.for-special-margin {
  margin-top: 280px;
}

table.addblacklist.withcheckbox.userRole-company-table.temporory tr td {
  width: 25%;
}

table.addblacklist.withcheckbox.userRole-company-table.temporory tr th {
  width: 25%;
}

table.addblacklist.withcheckbox.userRole-company-table.temporory tr td:first-child {
  width: 40px;
  min-width: 40px;
  max-width: 40px;
}

table.addblacklist.withcheckbox.userRole-company-table.temporory tr th:first-child {
  width: 40px;
  min-width: 40px;
  max-width: 40px;
}