table.addblacklist.withcheckbox.add-rolesadmin tr th {
  width: 25%;
}

table.addblacklist.withcheckbox.add-rolesadmin tr td {
  width: 25%;
}

table.userpolicy.adminrole-tbl.withcheckbox tr th {
  width: 25%;
}

table.userpolicy.adminrole-tbl.withcheckbox tr td {
  width: 25%;
}
