table.addblacklist.withcheckbox.add-rolesadmin tr th {
  width: 25%;
}

table.addblacklist.withcheckbox.add-rolesadmin tr td {
  width: 25%;
}

.table-section.figma-tables table.withcheckbox tr th:nth-child(1) {
  width: 40px;
  min-width: 40px;
  max-width: 40px;
}
