.top-action-area.custom-section-annoucement label {
  margin-left: 60px;
  width: auto;
  padding-right: 10px;
}

.top-action-area.custom-section-annoucement label:first-child {
  margin-left: 0;
}

span.titlespace {
  display: block;
  float: left;
  margin-left: 15px;
  line-height: 45px;
  color: #999;
}

input[type=date] {
  color: #666;
  opacity: 01;
  font-weight: 100;
  font-size: 12px;
}

table.userpolicy.withcheckbox.annoucement-tables th {
  width: 25%;
}

table.userpolicy.withcheckbox.annoucement-tables th:nth-child(1) {
  width: 32px;
}

table.userpolicy.withcheckbox.annoucement-tables td {
  width: 25%;
}

table.userpolicy.withcheckbox.annoucement-tables td:nth-child(1) {
  width: 32px;
}

/* for add inputs */
.general-info-brity.infowith-inputs input {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, .14);
  border-radius: 4px;
  height: 30px;
  padding: 5px 6px 6px 12px;
  width: 300px;
  margin-left: 30px;
}

.general-info-brity.infowith-inputs input[type=radio] {
  width: unset;
  height: unset;
  font-size: 13px;
  margin-right: 8px;
  position: relative;
  top: 2px;
}

.general-info-brity.infowith-inputs input[type=checkbox] {
  width: unset;
  height: unset;
  font-size: 13px;
  margin-right: 8px;
  position: relative;
  top: 2px;
}

.general-info-brity.infowith-inputs li {
  font-size: 13px;
  min-height: 46px;
  padding: 7px 0;
}

.srchbrityinput {
  float: left;
  position: relative;
}

.sendannoucementbrity {
  float: left;
  width: unset;
  margin-left: 0;
  font-size: 12px;
  margin-top: 0;
}

.general-info-brity.infowith-inputs textarea {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, .14);
  border-radius: 4px;
  height: 78px;
  padding: 5px 6px 6px 12px;
  width: 300px;
  margin-left: 30px;
}

.sendannoucementbrity input {
  margin-right: 0 !important;
  padding-right: 0;
}

.sendannoucementbrity input[type="checkbox"] {
  float: left;
  margin-top: 8px;
}

.srchbrityinput img {
  position: absolute;
  right: 8px;
  top: 4px;
}

.content-sides {
  line-height: 32px;
}

.general-info-brity.infowith-inputs {
  margin-bottom: 20px;
}

.content-sides span.nrmltxt.modiftnrmltxts {
  line-height: 32px;
}

span.sendannucetxt {
  display: inline-block;
  float: left;
  padding-left: 8px;
}

.srchbrityinput img {
  margin-top: 2px;
}

.accesible-menus.fl.widthfull.dragdrop-brity .menu-box-midbuttons a:last-child img {
  rotate: 180deg;
}

.accesible-menus.fl.widthfull.dragdrop-brity .menu-box-midbuttons a {
  display: block;
  margin-bottom: 10px;
  margin-top: 10px;
}

.accesible-menus.fl.widthfull.dragdrop-brity .menu-box-midbuttons {
  width: 32px;
  float: left;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 170px;
}

.action-button button.fl.mR8.onlysolid {
  float: left;
}

.action-button button:disabled {
  background: #dbdbdb !important;
  color: #fff !important;
}

.accesible-menus.fl.widthfull.dragdrop-brity .menu-box ul li.head {
  height: 32px;
  line-height: 32px;
  font-size: 13px;

  color: #000;
  border-bottom: solid 1px rgba(0, 0, 0, 0.2);
  padding-bottom: 40px;
  display: block;
  float: left;
  width: 100%;
}

.accesible-menus.fl.widthfull.dragdrop-brity .menu-box input {
  position: relative;
  top: 2px;
}

.accesible-menus.fl.widthfull.dragdrop-brity ul li {
  height: unset;
  line-height: 24px;
}

.accesible-menus.fl.widthfull.dragdrop-brity ul li h5 {
  padding-top: 5px;
}

.accesible-menus.fl.widthfull.dragdrop-brity .menu-box ul li.head span {
  font-size: 14px;
}

.accesible-menus.fl.widthfull.dragdrop-brity .menu-box ul li span {
  font-size: 13px;

}

.accesible-menus.fl.widthfull.dragdrop-brity .menu-box>ul>li>ul {
  margin-top: -5px;
}

/* dragdropbrity */
.accesible-menus.fl.widthfull.dragdrop-brity {
  margin-top: 24px;
  margin-bottom: 24px;
  position: relative;
  width: 100%;
  padding: 0 30px;
}

.accesible-menus.fl.widthfull.dragdrop-brity .menu-box {
  min-width: 456px;
  height: 482px;
  padding: 16px 20px 1px;
  border-radius: 4px;
  border: solid 1px rgba(0, 0, 0, 0.2);
  background-color: #fafafa;
  overflow: auto;
  width: 45%;
}

.brity-title.tilewithbrdr {
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
}

.britycustomtree .tree-node ul li input {
  margin-right: 5px;
}

table.viewbypolicy.withcheckbox.adminrolebrity tr th:nth-child(2) {
  width: 45%;
}

table.viewbypolicy.withcheckbox.adminrolebrity tr th:nth-child(3) {
  width: 45%;
}


table.viewbypolicy.withcheckbox.adminrolebrity tr td:nth-child(2) {
  width: 45%;
}

table.viewbypolicy.withcheckbox.adminrolebrity tr td:nth-child(3) {
  width: 45%;
}

table.viewbypolicy.withcheckbox.adminrolebrity tr th {
  min-width: 250px;
}

table.viewbypolicy.withcheckbox.adminrolebrity tr td {
  min-width: 250px;
}

table.viewbypolicy.withcheckbox.adminrolebrity tr th:first-child {
  width: 32px;
  min-width: 32px;
  max-width: 32px;
  text-overflow: unset;
  width: 2%;
}

table.viewbypolicy.withcheckbox.adminrolebrity tr td:first-child {
  width: 32px;
  min-width: 32px;
  max-width: 32px;
  text-overflow: unset;
  width: 2%;
}

.top-action-area.custom-section-annoucement label {
  margin-left: 50px;
}

.top-action-area.custom-section-annoucement ul li {
  display: block;
  float: left;
  width: 100%;
}

.accesible-menus.fl.widthfull.dragdrop-brity .menu-box ul li span {
  font-size: 13px;

}

.accesible-menus.fl.widthfull.dragdrop-brity .menu-box>ul>li>ul {
  margin-top: -5px;
}

.accesible-menus.fl.widthfull.dragdrop-brity {
  margin-top: 24px;
  margin-bottom: 24px;
  position: relative;
  width: 100%;
  padding: 0 30px;
}

.accesible-menus.fl.widthfull.dragdrop-brity .menu-box {
  min-width: 456px;
  height: 482px;
  padding: 16px 20px 1px;
  border-radius: 4px;
  border: solid 1px rgba(0, 0, 0, 0.2);
  background-color: #fafafa;
  overflow: auto;
  width: 45%;
}

.general-info-brity.infowith-inputs li .content-sides span.characters {
  color: #a5a5a5;
  font-size: 11px !important;
  bottom: -23px;
  position: absolute;
  right: 0;
}

.general-info-brity.infowith-inputs li .content-sides {
  position: relative;
  float: left;
}

.sendannoucementbrity {
  margin-left: 30px;
  pointer-events: none;
}

.sendannoucementbrity label.britychecks {
  width: auto;
}

.sendannoucementbrity .britychecks input:checked~.checkmark {
  background: #999;
  width: 13px;
  height: 13px;
  border-radius: 2px;
  top: 10px;
}

.sendannoucementbrity .britychecks input:checked~.checkmark:after {
  left: 5px;
  top: 2px;
}

.sendannoucementbrity label.britychecks input {
  margin: 0;
  line-height: 0;
}

.chractwithnumber.chracterfortextarea span.characters {
  bottom: -12px !important;
}

.announcement-selectbox {
  margin-top: unset;
}

.top-action-area.custom-section-annoucement .select_box.select200 input {
  width: 100%;
}

.cus-disable .container input:checked ~ .checkmark {
  background-color: #959595 !important;
}

table.userpolicy.withcheckbox.annoucement-tables tr th:first-child, 
table.userpolicy.withcheckbox.annoucement-tables tr td:first-child {
  width: 40px;
  min-width: 40px;
  max-width: 40px;
}
