.top-action-area.figma-top-action.topaction-appdonwload {
  height: auto;
}

.top-action-area.figma-top-action.topaction-appdonwload .select_box.figma-select-boxing.date-boxes.keyword-changes {
  width: 240px;
}

.top-action-area.figma-top-action.topaction-appdonwload .select_box.figma-select-boxing.date-boxes button {
  width: 240px;
}

.top-action-area.figma-top-action.topaction-appdonwload .select_box.figma-select-boxing.date-boxes.keyword-changes input {
  width: 240px;
}

table.wihout-checks-boxes.appdownload-tbl tr td:nth-child(4) {
  width: 1%;
  min-width: 100px;
}

table.wihout-checks-boxes.appdownload-tbl tr td:nth-child(5) {
  width: 1%;
  min-width: 100px;
}

table.wihout-checks-boxes.appdownload-tbl tr th:nth-child(4) {
  width: 1%;
  min-width: 100px;
}

table.wihout-checks-boxes.appdownload-tbl tr th:nth-child(5) {
  width: 1%;
  min-width: 100px;
}

table.wihout-checks-boxes.appdownload-tbl tr th {
  width: 8%;
}

table.wihout-checks-boxes.appdownload-tbl tr td {
  width: 8%;
}

table.withcheckbox.appdownload-tbl tr th:nth-child(4) {
  min-width: 120px;
  width: 1%;
}

table.withcheckbox.appdownload-tbl tr td:nth-child(4) {
  min-width: 120px;
  width: 1%;
}

table.withcheckbox.appdownload-tbl tr th:nth-child(5) {
  width: 1%;
  min-width: 100px;
}

table.withcheckbox.appdownload-tbl tr th:nth-child(6) {
  width: 1%;
  min-width: 100px;
}

table.withcheckbox.appdownload-tbl tr td:nth-child(5) {
  width: 1%;
  min-width: 100px;
}

table.withcheckbox.appdownload-tbl tr td:nth-child(6) {
  width: 1%;
  min-width: 100px;
}

table.wihout-checks-boxes.appdownload-tbl tr th:nth-child(8) {
  min-width: 100px;
  width: 1%;
}

table.wihout-checks-boxes.appdownload-tbl tr td:nth-child(8) {
  min-width: 100px;
  width: 1%;
}

table.withcheckbox.appdownload-tbl tr th {
  width: 13%;
}

table.withcheckbox.appdownload-tbl tr td {
  width: 13%;
}

table.withcheckbox.appdownload-tbl tr td:nth-child(10) {
  width: 15%;
}

table.withcheckbox.appdownload-tbl tr td:nth-child(11) {
  width: 15%;
}

table.withcheckbox.appdownload-tbl tr th:nth-child(10) {
  width: 15%;
}

table.withcheckbox.appdownload-tbl tr th:nth-child(11) {
  width: 15%;
}

.dropdownrightzero {
  right: 0;
}

.top-action-area.figma-top-action.topaction-appdonwload input[type='text'] {
  padding-right: 8px;
}

input:disabled {
  background: rgba(0, 0, 0, 0.04) !important;
}

button.dropbtn:disabled {
  background: rgba(0, 0, 0, 0.04) !important;
}

.adding-set {
  float: left;
  width: 35%;
  padding: 10px 0;
  border: 1px solid #ccc;
  margin-right: 20px;
  margin-bottom: 20px;
  padding-bottom: 0;
  min-height: unset;
}

.adding-set ul li {
  float: left;
  width: 100%;
  line-height: 32px;
  border-bottom: 1px solid #ccc;
  color: #666;
  font-size: 13px;
  cursor: pointer;
}

.adding-set ul li.add-title {
  background: #efefef;
  margin-top: -10px;
  margin-left: 0;
  width: 100%;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.adding-set ul li:last-child {
  border: none;
}

.set-table {
  padding: 0 30px;
}

.action-button.figma-action.all-button-left button {
  float: left;
  margin-right: 8px;
  width: auto;
}

.action-button.figma-action.all-button-left {
  padding: 0;
}

.select_box.figma-select-boxing.date-boxes {
  width: 108px;
}

.adding-set.folded-set {
  width: 30%;
  min-height: unset;
  border-radius: 4px;
  padding: 10px 0 0 0;
}

.adding-set.folded-set .total-comp {
  font-size: 13px;
  padding: 0 0;
  font-weight: normal;
  margin-top: -5px;
}

.adding-set ul li.add-title {
  padding: 0 8px;
  text-align: left;
}

.adding-set ul li {
  font-size: 12px;
  padding: 0 10px;
}

.adding-set ul li.add-title span {
  font-size: 14px;
  letter-spacing: unset;
}

.adding-set ul li.add-title svg {
  position: relative;
  top: 8px;
  float: right;
}

.set-table.fl.widthfull.mT50 {
  width: 100%;
}

.all-sets-container {
  float: left;
  width: 100%;
  position: relative;
  display: inline-block;
}

.multiple-dragged span {
  position: absolute;
  background: #f45743;
  top: -8px;
  right: -4px;
  color: #fff;
  width: 23px;
  line-height: 23px;
  border-radius: 23px;
  text-align: center;
  font-size: 13px;
  font-weight: normal;
  opacity: 1 !important;
}

.all-sets-container .adding-set {
  width: 100%;
}

.all-sets-container .adding-set:nth-child(3) {
  margin-right: 0;
}

.all-sets-container .adding-set.on-drag {
  border: 1px dashed #2a82f0;
}

.all-sets-container .adding-set.on-drag ul {
  opacity: 1;
  background: rgba(177, 229, 255, 0.2) !important;
}

.all-sets-container .adding-set.on-drag ul li {
  opacity: 0.7;
  background: rgba(177, 229, 255, 0.2) !important;
}

.all-sets-container .adding-set.on-drag ul li.add-title {
  opacity: 0.7;
  background: rgba(177, 229, 255, 0.7) !important;
}

.dropdownrightzero {
  right: 0;
}

.top-action-area.figma-top-action.topaction-appdonwload input[type='text'] {
  padding-right: 8px;
}

.multiple-dragged {
  display: block;
  top: -61px;
  width: 516px;
  font-size: 12px;
  line-height: 33px;
  border: 1px solid #ccc;
  background: #fff;
  right: 26px;
  padding-left: 8px;
}

.all-sets-container .jira-conatiner {
  width: 32%;
  float: left;
  margin-right: 2%;
}

.all-sets-container .jira-conatiner:last-child {
  margin-right: 0;
}

.top-drodown-title .dropdown.dropdownmodify {
  width: auto;
}

.top-action-area.figma-top-action.topaction-appdonwload .dropdownmodify {
  width: 100%;
}

.appdownload-tbl tr.blankimage {
  padding-bottom: 0;
}

.adding-set.folded-set.on-drag .css-1ni9l22-DropIndicator {
  display: none;
}

table.appdownload-tbl tr th {
  min-width: 40px;
  max-width: 70px;
}

table.appdownload-tbl tr td {
  min-width: 40px;
  max-width: 70px;
}

.top-action-area.figma-top-action.topaction-appdonwload label {
  min-width: 100px;
  max-width: 120px;
  width: 1%;
}

.top-action-area.figma-top-action.topaction-appdonwload.min-width-adjust label {
  min-width: 119px;
}

.top-action-area.figma-top-action.topaction-appdonwload label.ml150 {
  margin-left: 9.5%;
}

.top-action-area.figma-top-action.topaction-appdonwload .select_box.figma-select-boxing.date-boxes button {
  max-width: 240px;
  width: 15%;
}

.top-action-area.figma-top-action.topaction-appdonwload .select_box.figma-select-boxing.date-boxes.keyword-changes {
  max-width: 240px;
  width: 15%;
}

.top-action-area.figma-top-action.topaction-appdonwload .select_box.figma-select-boxing.date-boxes.keyword-changes input {
  max-width: 240px;
  width: 100%;
}

.top-action-area.figma-top-action.topaction-appdonwload .select_box.figma-select-boxing.date-boxes button.dropbtn {
  width: 100%;
}

.appDownload-britySelect-box {
  margin-top: unset;
}

.appDownload-selectbox {
  margin-top: unset;
}

.topaction-appdonwload .dropdownmodify .dropdown-content {
  width: 100%;
}

.topaction-appdonwload .dropdownmodify {
  margin-top: unset;
}

.company-sub-org-width .dropdownmodify .dropdown-content {
  min-width: 240px;
  width: max-content;
}
