.mL12 {
  margin-left: 12px;
}

.ml30 {
  margin-left: 30px;
}

.br8 {
  border-radius: 8px;
}

/* popup app version */
.general-info-brity.infowith-inputs.width-update.fullwidthdropdowns .content-sides {
  width: calc(100% - 88px);
}

.general-info-brity.infowith-inputs.width-update.fullwidthdropdowns .dropdownmodify button {
  max-width: calc(100% - 12px);
}

.general-info-brity.infowith-inputs.width-update.fullwidthdropdowns .dropdownmodify button svg {
  top: 8px;
}

.general-info-brity.infowith-inputs.width-update.fullwidthdropdowns .dropdownmodify button {
  position: relative;
}

.general-info-brity.infowith-inputs.width-update.fullwidthdropdowns .dropdown-content {
  width: calc(100% - 12px);
}

.chractwithnumber.chracterfortextarea textarea {
  width: 324px;
}

table.userpolicy.withcheckbox.agreementlist tr td {
  width: 17%;
  max-width: unset;
}

table.userpolicy.withcheckbox.agreementlist tr th {
  width: 17%;
  max-width: unset;
}

.general-info-brity.infowith-inputs.same-lineheights label {
  line-height: normal;
}

.general-info-brity.infowith-inputs.same-lineheights li {
  line-height: normal;
  min-height: unset;
}

.brity-modalcontainer.largepopup.rendering-issue.lesspriority.popup-content-fullsize.largingpopup .popup-table.fulltablepopup.popupformstyle {
  width: 100%;
}

.brity-modalcontainer.largepopup.rendering-issue.lesspriority.popup-content-fullsize.largingpopup .britypopup-box.figma-exception-add {
  height: auto;
}

.brity-modalcontainer.largepopup.rendering-issue.lesspriority.popup-content-fullsize.largingpopup input[type="text"] {
  width: calc(100% - 12px);
}

.brity-modalcontainer.largepopup.rendering-issue.lesspriority.popup-content-fullsize.largingpopup .britypopup-box.figma-exception-add {
  width: 768px;
}

button.reset.ml30.mT0 {
  margin-left: 30px;
  margin-top: 0;
  min-width: 80px;
}

.popup-table.fulltablepopup.popupformstyle.bigpopup-char-count .chars {
  bottom: -22px !important;
}

.popup-table.fulltablepopup.popupformstyle.bigpopup-char-count .content-sides.error-on .chars {
  bottom: -2px !important;
}

.app-ver .dropdownmodify.modifydroporg .dropdown-content {
  width: 100%;
}

.app-ver .dropdownmodify.modifydroporg button.dropbtn svg {
  top: 18px;
}