select.selecttitle {
  margin-top: -5px;
}

button.smdisable,
button:disabled,
button[disabled] {
  color: #959595 !important;
  border-color: #ccc !important;
  background-color: rgba(255, 255, 255, 0) !important;
  pointer-events: none;
}

.search-disabled-button {
  opacity: 0.5;
  pointer-events: none;
}

table.userPolicyListDetail tr td {
  cursor: pointer;
}

table.userlist tr td:nth-child(7) {
  width: 9.5%;
}

.posrel {
  position: relative !important;
}

.posrel img {
  margin-left: 5px;
}

.table-header-button span.deselected {
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 25px;

  text-align: left;
  color: #2a82f0;
  margin-right: 16px;
  cursor: pointer;
}

form.brityiframe ul li.parent .parent-dropdown span:last-child {
  float: right;
  padding-right: 30px;
  margin-top: 2px;
  cursor: pointer;
}

form.brityiframe ul li.parent ul li .policycontent {
  display: block;
  float: left;
  padding-left: 8px;
  display: block;
  float: left;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  text-align: left;
  width: 67.3%;
  color: #333333;
}

form.brityiframe ul li.parent ul li {
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  

  text-align: left;
  height: auto;
  border-bottom: 1px solid #eaeaea;
  background: rgba(0, 0, 0, 0.04);
  min-height: 43px;
}

.checkbox-category {
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;

  text-align: left;
  color: rgba(0, 0, 0, 0.8);
  width: 120px;
  margin-right: 30px;
  min-height: 30px;
}

.paginations ul li a {
  display: block;
  padding: 0;
  text-decoration: none;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;

  text-align: center;
  color: rgba(0, 0, 0, 0.8);
  line-height: 20px;
}


form.brityiframe.britythree ul li.parent ul li .policycontent input {
  width: 130px;
  height: 30px;
  padding: 5px 6px 6px 12px;
  border-radius: 4px;
  border: solid 1px rgba(0, 0, 0, 0.14);
  background-color: #fff;
  margin-right: 8px;
}

/* toggle slider */

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 0px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border: 1px solid #fff;
  top: -2px;
}

input:checked+.slider {
  background-color: #2a82f0;
}

input:checked+.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border: 1px solid #2a82f0;
  top: -2px;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196f3;
}

/* Brity Popup */

.brity-modalcontainer.largepopup {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  width: 90%;
}