/* Collaboration Brity */
form.brityiframe.britythree.editpage.brity-collaboration em {
  display: block;
  float: left;
  font-style: normal;
  padding-left: 8px;
  width: 10%;
}

form.brityiframe.britythree.editpage.brity-collaboration label:nth-child(3)::before {
  content: '';
  height: 14px;
  background: rgba(0, 0, 0, 0.14);
  width: 1px;
  display: block;
  margin-left: 0px;
  position: absolute;
  left: 0;
  top: 13px;
}

form.brityiframe.britythree.editpage.brity-collaboration label:nth-child(4)::before {
  content: '';
  height: 14px;
  background: rgba(0, 0, 0, 0.14);
  width: 1px;
  display: block;
  margin-left: 0px;
  position: absolute;
  left: 0;
  top: 13px;
}

.segmented-button-brity {
  width: 100%;
  float: left;
  display: block;
  padding-left: 10px;
}

.segmented-button-brity button.active {
  background: #2a82f0;
  color: #fff;
  border: none;
}

form.brityiframe.britythree.editpage.brity-collaboration label.britychecks::before {
  display: none;
}

.segmented-button-brity button {
  width: 66px;
  height: 24px;
  float: left;
  border-radius: 0;
  border: solid 1px rgba(0, 0, 0, 0.14);
  background: #fff;
  font-size: 12px;
}

.segmented-button-brity button:last-child {
  margin-left: -1px;
}

form.brityiframe.britythree.editpage.brity-collaboration .policycontent.checkboxcontent {
  width: 40%;
}

.collab-brity-policy {
  float: left;
  overflow: hidden;
  padding: 0 30px;
  width: 100%;
}

table.collab-brity tr th {
  width: 10%;
  max-width: 200px;
  min-width: 200px;
}

table.collab-brity tr td {
  max-width: 200px;
  width: 10%;
  min-width: 200px;
}

table.collab-brity tr th:nth-child(3) {
  width: 10%;
}

table.collab-brity tr td:nth-child(3) {
  width: 10%;
}

table.collab-brity tr th:nth-child(4) {
  width: 50%;
}

table.collab-brity tr td:nth-child(4) {
  width: 50%;
}

.segmented-button-brity button.active {
  background: #2a82f0;
  color: #fff;
  border: none;
}

.standard-check.margin-bottom-nothing {
  float: left;
  margin-bottom: 0;
}

.standard-check.margin-bottom-nothing label.container {
  margin-bottom: 0;
}
