form.brityiframe.britythree.editpage.tenant-editing.disablepointer.only-two-colm-form.only-attachments
  .all-checks-right.for-all-checks-tooltip {
  width: 100% !important;
}

form.brityiframe.britythree.editpage.tenant-editing.disablepointer.only-two-colm-form.only-attachments
  .all-checks-right.for-all-checks-tooltip
  .fl.checkbox-category {
  width: 250px;
  margin: auto;
}

form.brityiframe.britythree.editpage.tenant-editing.disablepointer.only-two-colm-form.only-attachments
  .all-checks-right.for-all-checks-tooltip
  .fl.adjust-checks {
  width: calc(100% - 300px);
}

form.brityiframe.britythree.editpage.tenant-editing.disablepointer.only-two-colm-form.only-attachments .form-header label {
  width: 260px;
  margin-left: 30px !important;
}

form.brityiframe.britythree.editpage.tenant-editing.disablepointer.only-two-colm-form.only-attachments
  .policycontent.checkboxcontent.file-type {
  border-bottom: 1px solid #ddd;
  display: flex;
  pointer-events: unset;
}

form.brityiframe.britythree.editpage.tenant-editing.disablepointer.only-two-colm-form.only-attachments.if-all-centerss
  .fl.checkbox-category {
  text-align: center;
}

form.brityiframe.britythree.editpage.tenant-editing.disablepointer.only-two-colm-form.only-attachments.withgrey ul li {
  background: #0000000a;
}

form.brityiframe.britythree.editpage.tenant-editing.disablepointer.only-two-colm-form.only-attachments ul li {
  background: #fff;
}

.content-sides.fill-width-inpts .dropdownmodify button {
  width: 244px;
  margin-left: 12px;
}

.content-sides.fill-width-inpts .dropdownmodify .dropdown-content {
  width: calc(100% - 12px);
  margin-left: 12px;
}

.center-align {
  text-align: center;
}

.tablename.table-withouts-brdrd {
  border: none;
}

a.btn-wid-drops:hover {
  opacity: 1;
  background: #efefef;
}

.content-sides.fill-width-inpts.buttonwith-dropdown-inpopup .dropdownmodify.ml12 button {
  width: 322px;
}

a.btn-wid-drops {
  z-index: 99;
  background: #fff;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  margin-top: 1px;
  border-bottom: 1px solid #ccc;
  display: block;
  float: left;
  width: 100px;
  height: 28px;
  margin-left: 0;
  text-align: center;
  text-decoration: none;
  line-height: 28px;
  color: #333;
  border: none;
  border-left: 1px solid rgba(0, 0, 0, 0.14);
  border-radius: 0 4px 4px 0;
  position: absolute;
  right: 1px;
}

.content-sides.fill-width-inpts.buttonwith-dropdown-inpopup .dropdownmodify.ml12 {
  width: calc(100% - 102px);
}