@media (min-width: 1200px) and (max-width: 1600px) {
  li.dividation-checks .toggle-slide-brity {
    min-height: 320px;
    padding-top: 100px !important;
  }

  table.userlist.workspace tr th {
    min-width: 250px;
  }

  table.userlist.workspace tr td {
    min-width: 250px;
  }

  table.featurepolicy tr td:nth-child(1) {
    width: 40.84%;
    min-width: 430px;
  }

  table.featurepolicy tr th:nth-child(1) {
    width: 40.84%;
    min-width: 430px;
  }

  .form-header.threeform label {
    min-width: 162px;
  }

  .form-header.threeform span {
    width: 59%;
  }

  form.brityiframe.britythree ul li.parent ul li .toggle-slide-brity {
    min-width: 162px;
  }

  form.brityiframe.britythree ul li.parent ul li .policycontent {
    width: 59%;
    float: right;
    position: relative;
    right: 1%;
  }

  table.userpolicy.group-member tr th {
    min-width: 200px;
  }

  table.userpolicy.group-member tr td {
    min-width: 200px;
  }
}

@media (min-width: 1200px) and (max-width: 1600px) {
  table.userlist.showDiv tr th {
    min-width: 70px;
    max-width: 100px;
  }

  table.userlist.showDiv tr td {
    min-width: 70px;
    max-width: 100px;
  }

  table.userpolicy.withcheckbox.annoucement-tables.reltive-list tr td:first-child {
    min-width: 40px;
    max-width: 40px;
    width: 1%;
  }

  table.userpolicy.withcheckbox.annoucement-tables.reltive-list tr th:first-child {
    min-width: 40px;
    max-width: 40px;
    width: 1%;
  }

  table.userpolicy.withcheckbox.annoucement-tables.reltive-list tr td {
    min-width: 100px;
    max-width: 100px;
    width: 1%;
  }

  table.userpolicy.withcheckbox.annoucement-tables.reltive-list tr th {
    min-width: 100px;
    max-width: 100px;
    width: 1%;
  }

  li.dividation-checks > label {
    min-height: 400px;
  }

  li.dividation-checks .toggle-slide-brity {
    padding-top: 187px !important;
  }

  form.brityiframe.britythree ul li.parent ul li.dividation-checks .toggle-slide-brity span.statusname {
    top: 172px;
  }

  .top-action-area.custom-section-annoucement label {
    margin-left: 2%;
  }
}

@media (min-width: 1601px) and (max-width: 1850px) {
  form.brityiframe.britythree.editpage.only-fp-three ul li > label {
    max-width: 16% !important;
  }

  li.dividation-checks .toggle-slide-brity {
    min-height: 370px;
    padding-top: 164px !important;
  }

  form.brityiframe.britythree ul li.parent ul li.dividation-checks .toggle-slide-brity span.statusname {
    top: 150px;
  }

  li.dividation-checks > label {
    min-height: 330px;
  }
}

@media (min-width: 200px) and (max-width: 1200px) {
  table.userlist.showDiv tr th {
    min-width: 70px;
    max-width: 100px;
  }

  table.userlist.showDiv tr td {
    min-width: 70px;
    max-width: 100px;
  }

  table.userpolicy.group-member tr th {
    min-width: 200px;
  }

  table.userpolicy.group-member tr td {
    min-width: 200px;
  }

  li.dividation-checks > label {
    min-height: 500px;
  }

  table.userlist.showDiv tr th {
    min-width: 115px;
  }

  table.userlist.showDiv tr td {
    min-width: 115px;
  }
}

@media (min-width: 1281px) and (max-width: 1600px) {
  .top-action-area.topaction-viewbypolicy ul {
    margin-right: 2%;
  }

  table.userlist.workspace tr th {
    min-width: 250px;
  }

  table.userlist.workspace tr td {
    min-width: 250px;
  }

  table.featurepolicy tr td:nth-child(1) {
    min-width: 430px;
  }

  table.featurepolicy tr th:nth-child(1) {
    min-width: 430px;
  }

  .form-header.threeform label {
    min-width: 162px;
  }

  .form-header.threeform span {
    width: 59%;
  }

  form.brityiframe.britythree ul li.parent ul li .toggle-slide-brity {
    min-width: 162px;
  }

  form.brityiframe.britythree ul li.parent ul li .policycontent {
    width: 59%;
    float: right;
    position: relative;
    right: 1%;
  }

  .checkbox-category {
    min-height: 60px;
  }
}

@media (min-width: 1281px) and (max-width: 1900px) {
  .top-action-area.custom-section-annoucement label {
    margin-left: 3%;
  }

  .top-action-area.figma-top-action.topaction-appdonwload label.ml150 {
    margin-left: 6.5%;
    width: 120px;
  }

  .top-action-area.figma-top-action.topaction-appdonwload .select_box.figma-select-boxing.date-boxes.keyword-changes {
    width: 17%;
    min-width: unset;
    max-width: 240px;
  }

  .top-action-area.figma-top-action.topaction-appdonwload .select_box.figma-select-boxing.date-boxes.keyword-changes input {
    width: 100%;
    min-width: unset;
    max-width: 240px;
  }

  .top-action-area.figma-top-action.topaction-appdonwload .select_box.figma-select-boxing.date-boxes button {
    width: 100%;
  }

  .top-action-area.figma-top-action ul li label {
    margin-right: 1%;
  }
}

@media (min-width: 1200px) and (max-width: 1600px) {
  .top-action-area.figma-top-action ul li label {
    margin-right: 3%;
  }

  table.userlist.workspace tr th {
    min-width: 250px;
  }

  table.userlist.workspace tr td {
    min-width: 250px;
  }

  table.featurepolicy tr td:nth-child(1) {
    width: 40.84%;
    min-width: 430px;
  }

  .form-header.threeform span {
    width: 59%;
  }

  form.brityiframe.britythree ul li.parent ul li .toggle-slide-brity {
    min-width: 162px;
  }

  form.brityiframe.britythree ul li.parent ul li .policycontent {
    width: 59%;
    float: right;
    position: relative;
    right: 1%;
  }

  .checkbox-category {
    min-height: 60px;
  }
}

@media (min-width: 200px) and (max-width: 1600px) {
  table.userpolicy.workspacelist tr td {
    min-width: 150px;
    max-width: 150px;
  }

  table.userpolicy.workspacelist tr th {
    min-width: 150px;
    max-width: 150px;
  }

  form.brityiframe.britythree.editpage.only-fp-three ul li > label {
    max-width: 16% !important;
  }

  table.userpolicy.withcheckbox.annoucement-tables.reltive-list tr td:first-child {
    min-width: 40px;
    max-width: 40px;
    width: 1%;
  }

  table.userpolicy.withcheckbox.annoucement-tables.reltive-list tr th:first-child {
    min-width: 40px;
    max-width: 40px;
    width: 1%;
  }

  table.userpolicy.withcheckbox.annoucement-tables.reltive-list tr td {
    min-width: 100px;
    max-width: 100px;
    width: 1%;
  }

  table.userpolicy.withcheckbox.annoucement-tables.reltive-list tr th {
    min-width: 100px;
    max-width: 100px;
    width: 1%;
  }

  .top-action-area.figma-top-action ul li label {
    margin-right: 1%;
  }

  .top-action-area.custom-section-annoucement label {
    margin-left: 1%;
  }

  .top-action-area.figma-top-action.topaction-appdonwload label.ml150 {
    margin-left: 5.5%;
    width: 120px;
  }

  .top-action-area.figma-top-action.topaction-appdonwload .select_box.figma-select-boxing.date-boxes.keyword-changes {
    width: 17%;
    min-width: unset;
    max-width: 240px;
  }

  .top-action-area.figma-top-action.topaction-appdonwload .select_box.figma-select-boxing.date-boxes.keyword-changes input {
    width: 100%;
    min-width: unset;
    max-width: 240px;
  }

  .top-action-area.figma-top-action.topaction-appdonwload .select_box.figma-select-boxing.date-boxes button {
    width: 100%;
  }

  .top-action-area.topaction-viewbypolicy ul {
    margin-right: 2%;
  }

  table.userlist.workspace tr th {
    min-width: 250px;
  }

  table.userlist.workspace tr td {
    min-width: 250px;
  }

  table.featurepolicy tr td:nth-child(1) {
    width: 40.84%;
    min-width: 430px;
  }

  table.featurepolicy tr th:nth-child(1) {
    width: 40.84%;
    min-width: 430px;
  }

  .form-header.threeform label {
    min-width: 162px;
  }

  .form-header.threeform span {
    width: 59%;
  }

  form.brityiframe.britythree ul li.parent ul li .toggle-slide-brity {
    min-width: 162px;
  }

  form.brityiframe.britythree ul li.parent ul li .policycontent {
    width: 59%;
    float: right;
    position: relative;
    right: 1%;
  }

  .checkbox-category {
    min-height: 10px;
  }

  .content-area-scroll.policy-history .top-action-area.figma-top-action label.ml150 {
    margin-left: 6%;
  }

  table.userpolicy.policy-change tr td {
    min-width: 105px;
    max-width: 10px;
  }

  table.userpolicy.policy-change tr th {
    min-width: 105px;
    max-width: 10px;
  }
}

@media (min-width: 200px) and (max-width: 1366px) {
  .content-area-scroll {
    min-width: 1132px;
    overflow: scroll;
  }

  div#file-share-history .content-area-scroll {
    overflow: visible;
  }

  .top-action-area.custom-section-annoucement label {
    margin-left: 2%;
  }

  .top-action-area.figma-top-action.topaction-appdonwload
    .top-action-area.figma-top-action.topaction-appdonwload
    .select_box.figma-select-boxing.date-boxes.keyword-changes {
    width: 18%;
    min-width: unset;
    max-width: 240px;
  }
}

@media (min-width: 2100px) and (max-width: 4000px) {
  form.brityiframe.britythree.editpage ul li.parent ul li .policycontent.checkboxcontent.file-type label {
    width: 9% !important;
  }

  .top-action-area.topaction-viewbypolicy.policy-section-newchanges .fix-right-policy ul {
    width: 32%;
  }
}

@media (min-width: 200px) and (max-width: 1900px) {
  .login-main-container {
    width: 1900px;
    overflow: scroll;
  }
}

@media (min-width: 1280px) and (max-width: 1535px) {
  .content-area-scroll.special-scroll-chnages {
    min-width: 784px;
    overflow: scroll;
  }
  .top-action-area.topaction-viewbypolicy.policy-section-newchanges .fix-right-policy ul {
    width: 50%;
    margin: 0;
    padding: 0;
    margin-bottom: 8px;
  }
}

@media (min-width: 200px) and (max-width: 1279px) {
  .content-area-scroll.special-scroll-chnages {
    min-width: 784px;
    overflow: scroll;
  }
  .top-action-area.topaction-viewbypolicy.policy-section-newchanges .fix-right-policy ul {
    width: 100%;
    margin: 0;
    padding: 0;
    margin-bottom: 8px;
  }
  .content-area-scroll.special-scroll-chnages {
    overflow: hidden;
  }
}
