.org-policy-org-switch-dropdown-container .dropdownmodify.modifydroporg {
  display: inline-block;
  width: fit-content;
  min-width: 200px;
}

.org-policy-org-switch-dropdown-container .dropdownmodify.modifydroporg button {
  max-width: unset;
  width: max-content !important;
  min-width: 200px !important;
}

.org-policy-org-switch-dropdown-container .dropdownmodify.modifydroporg .dropdown-content {
  min-width: 200px;
  white-space: nowrap;
  width: fit-content;
}

.dropdownmodify.modifydroporg button.dropbtn span {
  width: 100%;
}

.org-policy-org-switch-dropdown-container {
  display: flex;
  gap: 8px;
}

.org-policy-org-switch-dropdown-container .select_box.select200.media-issue-width {
  display: inline-block;
  width: unset;
  min-width: unset !important;
}

.dropdownmodify.cus-disable button.dropbtn {
  background: rgba(234, 234, 234, 1) !important;
}

.dropdownmodify.cus-disable button.dropbtn img {
  opacity: 0.5;
}

.grey-container-select-changes {
  float: left;
  width: 100%;
  background: #f9f9f9;
  padding: 0;
  max-height: 429px;
  overflow-x: hidden;
  overflow-y: auto;
}

.grey-container-select-changes h4 {
  padding-bottom: 20px;
  font-size: 18px;
}

table.userpolicy.workspacelist tr th.sub-parts {
  min-width: 350px;
  max-width: unset;
}

span.fuyllrow {
  display: block;
  float: left;
  width: 100%;
  text-align: center;
}

table.division-table tr {
  display: table-row;
  background: #fff;
}

table.division-table tr th {
  min-width: 60px;
  text-align: center;
  padding: 0px;
  height: 30px;
  font-weight: bold;
  min-width: 60px;
  white-space: pre-line;
}

table.division-table tr td {
  min-width: 60px;
  text-align: left;
  max-width: 80px;
}

table.division-table th {
  background: #ddd;
  border: 1px solid #bbb;
}

table.division-table tr th::before {
  display: none;
}

table.division-table tr th.policy-big-name {
  min-width: 192px;
}

table.division-table tr > td {
  text-align: center;
  padding: 8px 4px;
}

table.division-table tr td:nth-child(6) {
  color: #000;
}

.britypopup-box.figma-exception-add.divided-table-popup {
  width: calc(100% - 60px);
}

table.division-table.user-policy-dividation tr:last-child span.britytooltip {
  top: -10px;
}

th.header-highlight {
  background: #00000014;
  color: red;
  font-weight: bold;
}

td.row-highlight {
  background: #00000014;
  color: #000;
}

table.division-table tr th {
  position: sticky;
  top: 0;
  z-index: 99999999;
  border-color: #fff;
}

table.division-table tr:nth-child(2) th {
  position: sticky;
  top: 30px;
  z-index: 9999999999;
}

table.division-table tr:nth-child(2) th:nth-child(1) {
  background: #ebebeb;
  color: red;
  font-weight: bold;
}

table.division-table {
  border-collapse: unset !important;
}
