.britypopup-box.smallsize.autosizepopup {
  height: auto !important;
}

.britypopup-box.smallsize.autosizepopup .main-buttonaction {
  position: static;
  padding-top: 12px;
  padding-bottom: 16px;
  margin-bottom: -16px;
}

.britypopup-box.smallsize.autosizepopup .brity-title {
  margin-bottom: 14px;
}