table.userpolicy.prov-info tr th:nth-child(1) {
  width: 9.28%;
}

table.userpolicy.prov-info tr th:nth-child(2) {
  width: 6.18%;
}

table.userpolicy.prov-info tr th:nth-child(3) {
  width: 6.18%;
}

table.userpolicy.prov-info tr th:nth-child(4) {
  width: 27.84%;
}

table.userpolicy.prov-info tr th:nth-child(5) {
  width: 16.7%;
}

table.userpolicy.prov-info tr th:nth-child(6) {
  width: 9.28%;
}

table.userpolicy.prov-info tr th:nth-child(7) {
  width: 11.9%;
}

table.userpolicy.prov-info tr th:nth-child(8) {
  width: 6.18%;
}

table.userpolicy.prov-info tr th:nth-child(9) {
  width: 8.41%;
}

table.userpolicy.prov-info tr td:nth-child(1) {
  width: 9.28%;
}

table.userpolicy.prov-info tr td:nth-child(2) {
  width: 6.18%;
}

table.userpolicy.prov-info tr td:nth-child(3) {
  width: 6.18%;
}

table.userpolicy.prov-info tr td:nth-child(4) {
  width: 27.84%;
}

table.userpolicy.prov-info tr td:nth-child(5) {
  width: 16.7%;
}

table.userpolicy.prov-info tr td:nth-child(6) {
  width: 9.28%;
}

table.userpolicy.prov-info tr td:nth-child(7) {
  width: 11.9%;
}

table.userpolicy.prov-info tr td:nth-child(8) {
  width: 6.18%;
}

table.userpolicy.prov-info tr td:nth-child(9) {
  width: 8.41%;
}

.britypopup-box.figmapopup .general-info-brity.infowith-inputs.width-update.prov-info-content input{
  width: 536px;
}

.prov-info-content .dropdownmodify button.dropbtn {
  width: 536px;
}

.pod-search.figma-tbl-srch {
  width: 300px;
}

.general-info-brity.prov-info-detailedit ul li label {
  width: 200px;
}

.prov-info-add-popup.brity-modalcontainer.largepopup.smalllarge .britypopup-box {
  width: 768px;
}

.popup-table.fulltablepopup.popupformstyle .general-info-brity.infowith-inputs.prov-info-content ul li > label {
  width: 180px;
}

.general-info-brity.infowith-inputs.width-update.fullwidthdropdowns.prov-info-content .content-sides {
  width: calc(100% - 180px);
}

.general-info-brity.infowith-inputs.width-update.fullwidthdropdowns.prov-info-content .dropdownmodify button {
  max-width: 100%;
}

.general-info-brity.infowith-inputs.width-update.fullwidthdropdowns.prov-info-content .dropdown-content {
  width: 100%;
}

.prv-info-drop-down {
  padding-top: 8px;
}

.general-info-brity.infowith-inputs li.prov-info-edit .content-sides .figma-error {
  padding-left: 18px;
}

.prov-info-edit label {
  line-height: 32px !important;
}

.pod-search.figma-tbl-srch input[type="text"] {
  width: calc(100% - 22px);
}