.top-action-area.custom-section-annoucement.relative-search-system .select_box.select200 {
  width: 200px;
}

table.userpolicy.withcheckbox.chabot-list.reltive-list tr th:nth-child(9) {
  min-width: 180px !important;
}

table.userpolicy.withcheckbox.chabot-list.reltive-list tr td:nth-child(9) {
  min-width: 180px !important;
}

.big-table-search {
  width: 350px !important;
}

.big-table-search input {
  width: calc(100% - 45px) !important;
}

.general-info-brity.infowith-inputs.biglable-inputs input {
  width: 456px;
}

.general-info-brity.infowith-inputs.biglable-inputs textarea {
  width: 456px;
}

.general-info-brity.infowith-inputs.biglable-inputs .cus-dropdown-below-margin.dropdownmodify.ml30.fullwidthdropdownonpage {
  width: 456px;
}

.general-info-brity.infowith-inputs.biglable-inputs
  .cus-dropdown-below-margin.dropdownmodify.ml30.fullwidthdropdownonpage
  button.dropbtn {
  width: 456px;
}

.general-info-brity.infowith-inputs.biglable-inputs label {
  width: 160px;
}
.brity-modalcontainer.largepopup.rendering-issue.lesspriority.popup-content-fullsize.largingpopup
  .popup-table.fulltablepopup.popupformstyle {
  width: 100%;
}

.brity-modalcontainer.largepopup.rendering-issue.lesspriority.popup-content-fullsize.largingpopup
  .britypopup-box.figma-exception-add {
  height: auto;
  width: 768px;
}

.brity-modalcontainer.largepopup.rendering-issue.lesspriority.popup-content-fullsize.largingpopup input[type='text'] {
  width: calc(100% - 12px);
}

button.reset.ml30.mT0 {
  margin-left: 30px;
  margin-top: 0;
  min-width: 80px;
}

.general-info-brity.infowith-inputs.same-lineheights li {
  line-height: normal;
  min-height: unset;
}

.general-info-brity.infowith-inputs.same-lineheights.wide-widths label {
  width: 180px;
}

.general-info-brity.infowith-inputs.same-lineheights.relsys label {
  line-height: 32px;
}

.dropdownmodify.mT8.relative-system {
  margin-left: 30px;
  margin-top: 0px;
}

.dropdownmodify.mT8.relative-system button.dropbtn {
  min-width: 456px;
  max-width: unset;
  width: auto;
}

.relSys-url-0 {
  width: 456px;
}

.dropdownmodify.mT8.relative-system .dropdown-content {
  min-width: 456px;
}

.content-sides.error-on button {
  border: 1px solid rgba(237, 59, 47, 1) !important;
}

.wide-widths .figma-error {
  margin-left: 31px;
}

.dropdownmodify .figma-error {
  margin-left: 0px;
}

.rel-comment {
  margin-top: -12px;
}

.form.general-info-brity.infowith-inputs.if-allhave-chars ul li {
  padding: 9px 0px;
}

.general-info-brity.relsys ul li span.nrmltxt {
  line-height: 32px;
}

.general-info-brity.infowith-inputs.biglable-inputs.same-lineheights.wide-widths.greyish {
  background: #f9f9f9;
  padding: 10px 15px;
  margin-left: 15px;
  width: calc(100% - 30px);
}

.general-info-brity.infowith-inputs.biglable-inputs.same-lineheights.wide-widths {
  background: #f9f9f9;
  padding: 10px 15px;
  margin-left: 15px;
  width: calc(100% - 30px);
}
button.white-bg {
  background: #fff !important;
}
.spacing-divider {
  display: block;
  float: left;
  width: 100%;
  margin-top: 30px;
}

.grouping-urls {
  float: left;
  overflow: hidden;
  background: #efefef;
  width: 710px;
  padding: 35px 20px;
  border-radius: 12px;
  box-shadow: 2px 2px 2px #ddd;
}
