table.withcheckbox.servicedesk tr td {
  width: 17.5%;
}
table.withcheckbox.servicedesk tr th {
  width: 17.5%;
}

.general-info-brity.infowith-inputs.width-update.fullwidthdropdowns ul li .content-sides .standard-radio.radio-global-normal input {
  width: 0px;
}

.content-sides span.display {
  padding: 5px 6px 6px 12px;
}

.svc-dsk-popup.brity-modalcontainer.largepopup.smalllarge .britypopup-box {
  width: 500px;
}

.popup-table.fulltablepopup.popupformstyle .general-info-brity.infowith-inputs.svc-dsk-form ul li > label {
  width: 100px;
}

.general-info-brity.infowith-inputs.width-update.fullwidthdropdowns.svc-dsk-form .content-sides {
  width: calc(100% - 100px);
}

.britypopup-box.figmapopup .general-info-brity.infowith-inputs.width-update.svc-dsk-form input {
  width: 348px;
}