table.userpolicy tr th {
  display: table-cell;
  position: relative;
  min-width: 130px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 130px;
  cursor: default;
}

table.userpolicy tr td {
  display: table-cell;
  min-width: 130px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 130px;
}

table.userpolicy tr th:nth-child(2) {
  width: 12.8%;
}

table.userpolicy tr th:nth-child(3) {
  width: 20.24%;
}

table.userpolicy tr th:nth-child(4) {
  width: 17.9%;
}

table.userpolicy tr th:nth-child(5) {
  width: 16.9%;
}

table.userpolicy tr th:nth-child(6) {
  width: 21.97%;
}

table.userpolicy tr th:nth-child(7) {
  width: 7.65%;
}

table.userpolicy tr td:nth-child(2) {
  width: 12.8%;
}

table.userpolicy tr td:nth-child(3) {
  width: 20.24%;
}

table.userpolicy tr td:nth-child(4) {
  width: 17.9%;
}

table.userpolicy tr td:nth-child(5) {
  width: 16.9%;
}

table.userpolicy tr td:nth-child(6) {
  width: 21.97%;
}

table.userpolicy tr td:nth-child(7) {
  width: 7.65%;
}

/*user policy show division start*/
table.userpolicy.showDiv tr th:nth-child(2) {
  width: 12.8%;
}

table.userpolicy.showDiv tr th:nth-child(3) {
  width: 20.24%;
}

table.userpolicy.showDiv tr th:nth-child(4) {
  width: 17.9%;
}

table.userpolicy.showDiv tr th:nth-child(5) {
  width: 16.9%;
}

table.userpolicy.showDiv tr th:nth-child(6) {
  width: 13%;
}

table.userpolicy.showDiv tr th:nth-child(7) {
  width: 15%;
}

table.userpolicy.showDiv tr th:nth-child(8) {
  width: 7.65%;
}

table.userpolicy.showDiv tr td:nth-child(2) {
  width: 12.8%;
}

table.userpolicy.showDiv tr td:nth-child(3) {
  width: 20.24%;
}

table.userpolicy.showDiv tr td:nth-child(4) {
  width: 17.9%;
}

table.userpolicy.showDiv tr td:nth-child(5) {
  width: 16.9%;
}

table.userpolicy.showDiv tr td:nth-child(6) {
  width: 13%;
}

table.userpolicy.showDiv tr td:nth-child(7) {
  width: 15%;
}

table.userpolicy.showDiv tr td:nth-child(8) {
  width: 7.65%;
}

/*user policy show division end*/

table.userpolicy.withcheckbox.userPolicyListDetail {
  right: 8px !important;
}

/* knox new popups */
.grey-container-select-changes {
  float: left;
  width: 100%;
  background: #f9f9f9;
  padding: 0;
  max-height: 429px;
  overflow-x: hidden;
  overflow-y: auto;
}

.grey-container-select-changes h4 {
  padding-bottom: 20px;
  font-size: 18px;
}

table.userpolicy.workspacelist tr th.sub-parts {
  min-width: 350px;
  max-width: unset;
}

span.fuyllrow {
  display: block;
  float: left;
  width: 100%;
  text-align: center;
}

table.division-table tr {
  display: table-row;
  background: #fff;
}

table.division-table tr th {
  min-width: 60px;
  text-align: center;
  padding: 0;
  height: 30px;
  font-weight: bold;
  white-space: pre-wrap;
  cursor: default;
}

table.division-table tr td {
  min-width: 60px;
  text-align: left;
  max-width: 80px;
  cursor: default;
}

table.division-table th {
  background: #ddd;
  border: 1px solid #bbb;
}

table.division-table tr th::before {
  display: none;
}

.britypopup-box.figma-exception-add.divided-table-popup {
  width: 1460px;
}

table.division-table tr th.policy-big-name {
  min-width: 192px;
}

table.division-table tr > td {
  text-align: center;
  padding: 8px 4px;
}

table.division-table.user-policy-dividation.user-policy tr:nth-child(2) th:nth-child(1) {
  color: red;
}

table.division-table tr td:nth-child(6) {
  color: #000;
}

table.division-table.user-policy-dividation.user-policy tr:nth-child(2) th:nth-child(6) {
  color: red;
}

table.division-table.user-policy-dividation.user-policy tr td:nth-child(11) {
  background: #00000014;
  color: #000;
}

table.division-table.user-policy-dividation tr:last-child span.britytooltip {
  top: -10px;
}

.britypopup-box.figma-exception-add.divided-table-popup {
  width: calc(100% - 60px);
}

table.division-table tr th {
  position: sticky;
  top: 0;
  z-index: 99999999;
  border-color: #fff;
}

table.division-table tr:nth-child(2) th {
  position: sticky;
  top: 30px;
  z-index: 9999999999;
}

table.division-table {
  border-collapse: unset !important;
}

/* user policy view by policy new changes */
.fix-left-policy ul li svg {
  fill: #000;
  opacity: 0.6;
}

.top-action-area.topaction-viewbypolicy.policy-section-newchanges {
  display: block;
  float: left;
  width: 100%;
}

.top-action-area.topaction-viewbypolicy.policy-section-newchanges .fix-left-policy {
  display: block;
  float: left;
  width: 240px;
  max-width: 240px;
  margin-right: 24px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  padding-right: 16px;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 207px;
}

.fix-left-policy ul {
  margin: 0;
  padding: 0;
}

.top-action-area.topaction-viewbypolicy.policy-section-newchanges .fix-left-policy ul li {
  font-size: 13px;
  height: 32px;
  margin: 0;
  line-height: 32px;
  padding-left: 6px;
}

.top-action-area.topaction-viewbypolicy.policy-section-newchanges .fix-right-policy {
  float: left;
  width: calc(100% - 264px);
  display: block;
  max-width: unset;
  margin-right: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 210px;
}

.top-action-area.topaction-viewbypolicy.policy-section-newchanges .fix-right-policy ul {
  float: left;
  width: calc(33.85% - 24px);
  margin-right: 24px;
  margin-top: 4px;
}

.top-action-area.topaction-viewbypolicy.policy-section-newchanges .fix-right-policy ul:last-child {
  margin-right: 0;
}

.top-action-area.topaction-viewbypolicy.policy-section-newchanges .fix-left-policy ul li.active {
  background: rgba(42, 130, 240, 0.14);
  border-radius: 4px;
  color: rgba(42, 130, 240, 1);
}

.top-action-area.topaction-viewbypolicy.policy-section-newchanges .fix-left-policy ul li.active svg {
  fill: rgba(42, 130, 240, 1);
  opacity: 1;
}

.top-action-area.topaction-viewbypolicy.policy-section-newchanges {
  padding: 16px 24px;
  height: 240px;
  overflow: hidden;
  padding-bottom: 12px;
}
.top-action-area.topaction-viewbypolicy.policy-section-newchanges .fix-left-policy ul li svg {
  float: right;
  position: relative;
  top: 12px;
  right: 11px;
}

.top-action-area.topaction-viewbypolicy.policy-section-newchanges .fix-right-policy ul li {
  margin-bottom: 8px;
  line-height: 18px;
  min-height: 20px;
}

.top-action-area.topaction-viewbypolicy.policy-section-newchanges .fix-right-policy ul li:last-child {
  margin-bottom: 0;
}

.top-action-area.topaction-viewbypolicy.policy-section-newchanges .fix-right-policy ul li em {
  line-height: 12px;
  top: 1px;
}

.content-area-scroll.special-scroll-chnages {
  min-width: 1023px;
  overflow: scroll;
}

.fix-left-policy ul li {
  cursor: pointer;
}

