.dropdownmodify.userPermissionBox button.dropbtn {
  width: 145px;
}

.brity-modalcontainer.largepopup.smalllarge.slack-user-perm .britypopup-box {
  width: 476px;
}

.popup-table.fulltablepopup.popupformstyle .general-info-brity.infowith-inputs.slack-user-perm-form ul li > label {
  width: 100px;
}

.general-info-brity.infowith-inputs.width-update.fullwidthdropdowns.slack-user-perm-form .content-sides {
  width: calc(100% - 100px);
}

.dropdownmodify.userPermissionBox .dropdown-content {
  min-width: 130px;
  max-height: 50vh;
  overflow-x: hidden;
  padding-left: 0;
  width: 100%;
  padding-right: 0;
  white-space: nowrap;
}