table.addblacklist.withcheckbox.add-rolesadmin {
	tr {
		th {
			width: 25%;
		}
		td {
			width: 25%;
		}
	}
}
table.userpolicy.adminrole-tbl.withcheckbox {
	tr {
		th {
			width: 25%;
		}
		td {
			width: 25%;
		}
	}
}