table.userpolicy.withcheckbox.agreementlist {
	tr {
		td {
			width: 17%;
			max-width: 130px;
		}
		th {
			width: 17%;
			max-width: 130px;
		}
	}
}
.cus-dropdown-below-margin.dropdownmodify.ml30.fullwidthdropdownonpage {
	width: 324px;
	button.dropbtn {
		width: 324px;
	}
}
.content-sides.more-content-textarea {
	width: calc(100% - 150px);
	textarea {
		width: 100%;
		float: left;
		min-height: 380px;
	}
}
button.reset.rest-dels {
	min-width: 70px;
	margin-top: 0px;
}
.chractwithnumber.chracterfortextarea {
	float: left;
	width: 100%;
}
.content-sides.smallfor-button {
	button.reset.rest-dels {
		height: 30px;
	}
}
.min-height-30 {
	min-height: 30px;
	height: 30px;
}
.agreementlist {
	td {
		button.notAppliedBtn {
			color: #fff;
		}
	}
}
a.parentDisabled {
	pointer-events: none;
	opacity: 0.6;
}
.agreementError {
	margin-left: 32px;
}
.cus-dropdown-below-margin.dropdownmodify.ml30.fullwidthdropdownonpage.agreement-big-bars {
	width: 663px;
	button.dropbtn.fl {
		width: 100%;
	}
}
.general-info-brity.infowith-inputs.agreemnet-big-inpubars {
	input {
		width: 663px;
	}
}
.content-sides.brityteantsavemodify.agreedetail-big-inputs {
	input {
		width: 663px;
	}
}
.general-info-brity.agreement-width-big-label {
	ul {
		li {
			label {
				width: 160px;
			}
		}
	}
}