.big-table-search {
	width: 350px !important;
	input {
		width: calc(100% - 30px) !important;
	}
}
.lhnrml {
	line-height: normal !important;
}
.table-section.figma-tables {
	table.userpolicy.department-big-list {
		th {
			width: 8%;
		}
		td {
			width: 8%;
		}
	}
	table {
		button.table-under-buton {
			height: 28px;
			min-width: 70px;
			border: solid 1px rgba(0, 0, 0, 0.14);
			background-color: #fff;
			font-size: 12px;
			font-weight: normal;
			font-stretch: normal;
			font-style: normal;
			line-height: 10px;
			letter-spacing: normal;
			text-align: center;
			color: rgba(0, 0, 0, 0.8);
			border-radius: 4px;
			margin-top: -4px;
			margin-bottom: -4px;
			padding: 0 8px;
		}
	}
}
.custom-searchengine-withdrop.for-department-drop {
	width: 350px;
	border-radius: 4px;
	.dropdownmodify {
		width: 125px;
		button {
			width: 100%;
			border: none;
			border-radius: 8px;
			padding-bottom: 0;
			line-height: 30px;
			padding-right: 0;
			padding-left: 8px;
		}
	}
	.right-searchnamesection {
		width: calc(100% - 125px);
	}
}
/* Chatbot List */
table.userpolicy.withcheckbox.chabot-list {
	tr {
		th {
			width: 11%;
			min-width: 90px;
		}
		td {
			width: 11%;
			min-width: 90px;
		}
	}
}
.content-sides.more-content-textarea {
	width: calc(100% - 150px);
	textarea {
		width: 100%;
		float: left;
		min-height: 380px;
	}
}
button.reset.rest-dels {
	min-width: 70px;
	margin-top: 0px;
}
button.one-line-butons {
	min-width: 70px;
	height: 30px;
	border: 1px solid rgba(0, 0, 0, 0.14);
	border-radius: 4px;
	background: none;
	float: left;
}
.cus-dropdown-below-margin.dropdownmodify.ml30.fullwidthdropdownonpage {
	width: 324px;
	button.dropbtn {
		width: 324px;
	}
}
button.reset.ml30.mT0 {
	margin-left: 30px;
	margin-top: 0;
	min-width: 80px;
}
.general-info-brity.infowith-inputs.width-update.fullwidthdropdowns {
	.content-sides {
		width: calc(100% - 88px);
	}
	.dropdownmodify {
		button {
			max-width: calc(100% - 12px);
			position: relative;
		}
	}
	.dropdown-content {
		width: calc(100% - 12px);
	}
}
.ktkm-fullwidth.dropdown-content {
	width: 100%;
}
.right-searchnamesection {
	svg {
		cursor: pointer;
		height: 12px;
		min-height: 12px;
		min-width: 12px;
		position: absolute !important;
		right: 8px !important;
		top: 8px !important;
		width: 12px;
	}
}
.fl.firstbutton {
	cursor: pointer;
}
.general-info-brity.infowith-inputs {
	li {
		.content-sides.brityteantsavemodify.disabled {
			a {
				color: #959595 !important;
				border-color: #ccc !important;
				background-color: rgba(255, 255, 255, 0) !important;
				pointer-events: none;
			}
		}
	}
}
.content-sides.brityteantsavemodify.error-on.special-case-error {
	.figma-error {
		position: absolute;
		left: 20px;
	}
}
.general-info-brity.infowith-inputs.width-update.fullwidthdropdowns.smal-popup-big-label {
	>label {
		width: 170px;
	}
	ul {
		li {
			label {
				width: 120px;
			}
			.content-sides {
				width: calc(100% - 140px);
			}
		}
	}
	button.dropbtn {
		width: 100%;
		float: left;
	}
	.cus-dropdown-below-margin.dropdownmodify.ml30.fullwidthdropdownonpage {
		width: 100%;
	}
	textarea.pop-text-area {
		margin-left: 30px;
		width: calc(100% - 12px);
		height: 90px;
	}
	.chars {
		position: absolute;
		right: -16px;
		color: #a5a5a5;
		font-size: 11px !important;
		bottom: -12px !important;
	}
}