.MuiBox-root.css-8atqhb {
	border: none !important;
	box-shadow: none !important;
}
.css-9wcvca-MuiTableCell-root-MuiTablePagination-root {
	overflow-x: hidden !important;
}
.css-1mxz8qt-MuiPaper-root {
	border: none !important;
	box-shadow: none !important;
}