.general-info-brity.infowith-inputs.labels-126.biglabel-withactivate {
	.dropdownmodify {
		button {
			width: 160px;
			margin-right: 5px;
			max-width: unset;
			width: max-content !important;
			min-width: 200px !important;
		}
	}
	ul {
		li {
			>label {
				position: relative;
				width: 130px;
				em {
					font-style: normal;
					font-size: 12px;
					letter-spacing: -0.7px;
					position: absolute;
					bottom: -16px;
				}
			}
			margin-bottom: 5px;
		}
	}
}
.toogle-active-list {
	float: left;
	width: 110px;
	padding-top: 10px;
	margin-left: 30px;
	margin-right: 20px;
	span.statusname {
		margin-left: 5px;
		position: relative;
		top: -3px;
	}
}
.content-sides.when-deactivate {
	opacity: 0.4;
	pointer-events: none;
}
.poup-contntarea.nrml-lineheight {
	p {
		line-height: 18px;
	}
}
.general-info-brity.infowith-inputs.labels-126.biglabel-withactivate.ko-width-adj {
	ul {
		li {
			>label {
				position: relative;
				width: 149px;
			}
		}
	}
}
