.dropdownmodify.figmadropdowns {
	.dropdown-content {
		white-space: nowrap;
		a {
			padding-left: 8px;
			padding-right: 8px;
			margin-left: 8px;
			margin-right: 8px;
			border-radius: 4px;
		}
		a.activated {
			background: rgba(42, 130, 240, 0.14);
			color: rgba(42, 130, 240, 1);
		}
	}
	button {
		&:focus {
			background: #EAF3FD;
			border: 1px solid #2A82F0;
			color: rgba(42, 130, 240, 1);
		}
	}
	button.dropbtn {
		&:hover {
			background: rgba(0, 0, 0, 0.06);
			border: 1px solid rgba(0, 0, 0, 0.35);
			color: #000;
		}
		img {
			top: 10px;
		}
	}
}