.notice-form {
	.dropdownmodify {
		button.dropbtn {
			width: 456px;
		}
	}
}
.content-sides.double-date-inputs {
	.select_box.figma-select-boxing.date-boxes {
		input {
			width: 100%;
		}
		width: 216px;
	}
	margin-left: 30px;
	.select_box.figma-select-boxing.date-boxes.error-on {
		input {
			border: 1px solid rgba(237, 59, 47, 1);
		}
	}
}
button.reset.ml30.mT0.topsamepix {
	margin-top: 10px;
}
.general-info-brity.infowith-inputs {
	li.chractermorenumnbers {
		.content-sides {
			textarea {
				width: 100%;
			}
			width: calc(100% - 190px);
		}
	}
	li {
		.content-sides.error-on {
			span.characters.txt-area-notice {
				bottom: 3px !important;
				right: -28px !important;
			}
		}
	}
}
/* need to remove */
.figma-error-slk-prvcy {
	margin-left: 30px;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 18px;
	color: rgb(237, 59, 47);
	padding-top: 4px;
}
.content-sides.more-content-textarea.error-on {
	textarea {
		border: 1px solid rgba(237, 59, 47, 1);
	}
}
.chractwithnumber.chracterfortextarea {
	span.characters.txt-area-notice {
		bottom: -25px !important;
		right: -31px !important;
	}
}
.lh-notice-error {
	line-height: 27px !important;
}
.cus-dropdown-below-margin.dropdownmodify.ml30.fullwidthdropdownonpage {
	.dropdown-content.notice {
		width: 100%;
	}
}
.dropdownmodify {
	.dropdown-content.figma-drodown.notice {
		width: 100%;
	}
}
.figma-error-notice-clndr {
	margin-left: 1px;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 18px;
	color: rgb(237, 59, 47);
	padding-top: 4px;
}
.content-sides.notice {
	pointer-events: none !important;
}
.content-sides.notice.deactivatechecks {
	input[type='checkbox'] {
		&:checked {
			~ {
				.checkmark {
					background: #aacdf9 !important;
				}
			}
		}
	}
}
.cus-disable {
	textarea {
		border: 1px solid #eaeaea;
		background: #f7f7f7 !important;
		color: #a5a5a5;
	}
}
table.userpolicy.withcheckbox.annoucement-tables.annoucement-notice {
	tr {
		th {
			width: 9%;
			max-width: 90px;
			min-width: 50px;
		}
		td {
			width: 9%;
			max-width: 90px;
			min-width: 50px;
		}
	}
}
.table-section.figma-tables {
	table.withcheckbox.annoucement-notice {
		tr {
			td {
				&:nth-child(1) {
					width: 40px;
					min-width: 40px;
					max-width: 40px;
				}
			}
			th {
				&:nth-child(1) {
					width: 40px;
					min-width: 40px;
					max-width: 40px;
				}
			}
		}
	}
}
.notice-dropdown {
	.dropdownmodify {
		.dropdown-content {
			width: 100%;
		}
	}
}
.general-info-brity.infowith-inputs.biglable-inputs.notice-form {
	.dropdownmodify.notice-dropdown {
		button.dropbtn {
			width: 456px;
		}
	}
}
.dropdownmodify.notice-dropdown {
	.dropdown-content {
		width: 100%;
	}
}