.paginations {
	display: none;
	display: block;
	float: left;
	width: 100%;
	text-align: center;
	margin-top: 7px;
	ul {
		li {
			display: inline-block;
			width: unset;
			height: 24px;
			margin: 0 0px;
			border-radius: 4px;
			line-height: 24px;
			vertical-align: top;
			float: left;
			margin-right: 1px;
			min-width: 24px;
			padding: 3px 4px;
			a {
				display: block;
				padding: 0;
				text-decoration: none;
				font-size: 12px;
				font-weight: normal;
				font-stretch: normal;
				font-style: normal;
				text-align: center;
				cursor: pointer;
				color: rgba(0, 0, 0, 0.9);
				line-height: 20px;
				font-weight: bold;
			}
		}
		display: inline-block;
		li.prev {
			svg {
				transform: rotate(90deg);
				width: auto;
				margin-top: 3px;
				height: 9px;
			}
		}
		li.next {
			svg {
				transform: rotate(270deg);
				width: auto;
				margin-top: 3px;
				height: 9px;
			}
		}
		li.active {
			background-color: #eaf3fd;
			color: #2a82f0;
			font-weight: 700;
			a {
				color: #2a82f0;
				font-size: 12px;
				font-weight: bold;
			}
		}
		li.superprev.prev {
			a {
				svg {
					float: left;
					padding-right: 0;
					margin-right: 0;
					display: inline-block;
					fill: #000;
					margin-top: 6px;
					text-align: center;
					&:last-child {
						margin-left: -5px;
					}
					&:first-child {
						margin-left: 4px;
					}
				}
				display: block;
			}
		}
		li.supernext.next {
			a {
				svg {
					float: left;
					padding-right: 0;
					margin-right: 0;
					display: inline-block;
					fill: #000;
					margin-top: 6px;
					text-align: center;
					&:last-child {
						margin-left: -5px;
					}
					&:first-child {
						margin-left: 4px;
					}
				}
				display: block;
			}
		}
		li.disabled {
			color: #afafaf;
			cursor: not-allowed;
			background-color: #eeecf6;
			font-weight: 700;
			svg {
				.cls-1 {
					fill: #ccc;
				}
			}
			a {
				pointer-events: none;
				color: #afafaf;
			}
		}
	}
}
table {
	border-collapse: collapse;
}
.stop-pagination {
	opacity: 0.3 !important;
	pointer-events: none !important;
}