.tilt-figma {
	float: left;
	width: 24px;
	text-align: center;
	line-height: 46px;
}
.top-action-area.figma-top-action {
	ul {
		li {
			label {
				margin-right: 30px;
			}
		}
	}
	input.top-searkey {
		font-size: 13px;
		font-style: normal;
		font-weight: 400;
		line-height: 20px;
		width: 240px;
	}
	border-top: 1px solid rgba(0, 0, 0, 0.14);
}
label.ml150 {
	margin-left: 150px;
}
.figma-table-heading {
	float: left;
	width: 100%;
	height: 37px;
	padding: 0px 30px;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: 24px;
	line-height: 37px;
}
.action-button.figma-action {
	button {
		font-size: 13px;
		font-style: normal;
		font-weight: 700;
		line-height: 20px;
		color: rgba(0, 0, 0, 0.6);
	}
	button.primary {
		color: #fff;
	}
}
table.userpolicy.policy-change {
	tr {
		th {
			&:nth-child(1) {
				width: 8.97%;
			}
			&:nth-child(2) {
				width: 15.47%;
			}
			&:nth-child(3) {
				width: 6.19%;
				overflow: visible;
			}
			&:nth-child(4) {
				width: 8.97%;
			}
			&:nth-child(5) {
				width: 15.47%;
			}
			&:nth-child(6) {
				width: 6.89%;
				overflow: visible;
			}
			&:nth-child(7) {
				width: 11.14%;
			}
			&:nth-child(8) {
				width: 8.66%;
			}
			&:nth-child(9) {
				width: 8.66%;
			}
			&:nth-child(10) {
				width: 9.65%;
			}
		}
		td {
			&:nth-child(1) {
				width: 8.97%;
			}
			&:nth-child(2) {
				width: 15.47%;
			}
			&:nth-child(3) {
				width: 6.19%;
			}
			&:nth-child(4) {
				width: 8.97%;
			}
			&:nth-child(5) {
				width: 15.47%;
			}
			&:nth-child(6) {
				width: 6.89%;
			}
			&:nth-child(7) {
				width: 11.14%;
			}
			&:nth-child(8) {
				width: 8.66%;
			}
			&:nth-child(9) {
				width: 8.66%;
			}
			&:nth-child(10) {
				width: 9.65%;
			}
			&:last-child {
				span.britytooltip {
					right: 8px !important;
				}
			}
		}
	}
	th {
		svg {
			position: relative;
			top: 0px;
			left: 4px;
			cursor: pointer;
		}
	}
}
.table-section.figma-tables {
	span.fillwidth100 {
		width: 100% !important;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 20px;
		padding: 0 !important;
	}
}
.content-area-scroll.policy-history {
	.top-action-area.figma-top-action {
		>ul {
			>li {
				width: 100%;
			}
		}
	}
	.tablename {
		border-bottom: unset;
	}
}
.userlist-area {
	ul {
		li {
			em {
				font-style: normal;
				overflow: hidden;
				display: block;
				width: auto;
				white-space: nowrap;
				text-overflow: ellipsis;
				float: left;
				max-width: 100%;
			}
		}
	}
}
.only-dropdowninpopup {
	.dropdownmodify {
		button.dropbtn {
			width: 100%;
			svg {
				top: 16px;
			}
		}
		width: 100%;
	}
	float: right;
	margin-right: 81px;
	width: 120px;
	margin-top: 1px;
}
.drop-searchsection.cus-search-popup {
	button.dropbtn {
		svg {
			left: unset;
			right: 9px;
			top: 10px;
		}
	}
}
.policy-history {
	.dropdownmodify {
		button.dropbtn {
			width: 180px;
		}
	}
}
/* Policy Filter */
.filter-menus {
	width: 210px;
	height: auto;
	border: 1px solid #0003;
	position: absolute;
	z-index: 9999;
	background: #fff;
	min-height: 218px;
	border-radius: 8px;
	padding: 16px 12px 16px 20px;
	ul {
		li {
			display: block;
			float: left;
			width: 100%;
			height: 32px;
			line-height: 32px;
			padding-top: 7px;
			padding-bottom: 7px;
			&:hover {
				background: #eaf3fd;
			}
			&:first-child {
				border-bottom: 1px solid rgba(0, 0, 0, 0.14);
			}
		}
	}
	.standard-check.checkbox-global-normal {
		position: static;
		label.container {
			letter-spacing: -0.65px;
			width: 100%;
		}
	}
}
.filter-menu-button-area {
	button.primary {
		color: #fff;
		margin-left: 8px;
		background: #2a82f0;
		font-weight: 700;
	}
	float: left;
	width: 100%;
	margin-top: 20px;
	button {
		background-color: #fff;
		width: 76px;
		height: 30px;
		border-radius: 4px;
		color: rgba(0, 0, 0, 1);
		font-size: 13px;
		font-weight: 400;
		word-wrap: break-word;
		border: 1px solid rgba(0, 0, 0, 0.2);
		line-height: 19px;
		letter-spacing: -0.65px;
		text-align: center;
	}
}
.dropdownmodify.policy-change-filter {
	.dropdown-content {
		min-width: 130px;
		max-height: 50vh;
		overflow-x: hidden;
		padding-left: 0;
		width: 100%;
		padding-right: 0;
		white-space: nowrap;
	}
}