.parent-main-titles {
	span {
		min-height: 46px;
		float: left;
		width: 100%;
		font-size: 16px;
		font-weight: bold;
		font-stretch: normal;
		font-style: normal;
		line-height: 46px;
		text-align: left;
		color: #000;
	}
}
form.brityiframe.britythree.editpage.overflow-issue.tenant-editing.only-two-colm-form {
	overflow: hidden;
}
form.brityiframe.britythree.editpage.tenant-editing {
	button.dropbtn {
		span {
			padding: 0;
		}
	}
	ul {
		li.parent {
			ul {
				li {
					label {
						width: 32.55%;
					}
					label.britychecks {
						width: auto;
					}
					label.unlimitedheight {
						min-height: 100px;
						padding-top: 42px;
					}
				}
				li.dividation-checks.newcenteredcss {
					>label {
						min-height: unset;
					}
				}
			}
		}
	}
	.policycontent.withanchors {
		input {
			float: left;
			margin: 0;
			border-radius: 4px 0 0 4px;
			cursor: not-allowed;
		}
	}
	li.allcentered {
		>label {
			padding-top: 15px;
		}
	}
	li.allcentered.policycontent.withanchors {
		margin-bottom: 5px;
	}
	li.moretecxtinputs {
		padding-bottom: 12px;
		>label {
			margin-top: 26px;
		}
		input[type='text'] {
			width: calc(100% - 150px);
			float: left;
			display: block;
			margin-right: 0 !important;
			padding-right: 0 !important;
		}
	}
	.policycontent {
		opacity: 1;
	}
	.policycontent.checkboxcontent.myultiple-texts-input {
		input.rederror {
			border: 1px solid #f15843;
		}
	}
}
.policycontent.withanchors {
	a {
		display: inline-block;
		float: left;
		width: 70px;
		height: 30px;
		text-align: center;
		text-decoration: none;
		line-height: 28px;
		color: #333;
		border: 1px solid rgba(0, 0, 0, 0.14);
		border-radius: 0 4px 4px 0;
		background: #fff;
		margin-left: -1px;
		cursor: pointer;
	}
	margin-top: 6px;
}
.popup-table.fulltablepopup {
	width: 100%;
}
.general-info-brity.infowith-inputs {
	li {
		.content-sides.brityteantsavemodify {
			a {
				z-index: 1;
			}
		}
	}
}
table.userpolicy.withcheckbox.multiple-tbls-brity.multiplebritysix {
	height: 440px;
	tr.emptyboxes {
		min-height: 400px;
		p {
			position: absolute;
			left: 0;
			right: 0;
			top: 189px;
			font-size: 14px;
			font-weight: normal;
			font-stretch: normal;
			font-style: normal;
			line-height: 1.71;
			text-align: center;
			color: rgba(0, 0, 0, 0.9);
		}
	}
}
table.userpolicy.withcheckbox.multiple-tbls-brity.multiplebritysix.table-automatic-height {
	height: auto;
}
table.userpolicy.withcheckbox.multiple-tbls-brity.multiplebritysix.multiwithoutjob {
	tr {
		th {
			&:first-child {
				width: 32px;
				max-width: 32px;
			}
			width: 20%;
		}
		td {
			&:first-child {
				width: 32px;
				max-width: 32px;
			}
			width: 20%;
		}
	}
}
.popup-table.fulltablepopup.popupformstyle {
	.general-info-brity.infowith-inputs {
		padding: 0;
		input {
			margin-left: 12px;
		}
		ul {
			li {
				>label {
					width: 88px;
					float: left;
				}
			}
		}
	}
	.content-sides {
		float: left;
	}
}
.brity-modalcontainer.largepopup.smalllarge.unsetheight {
	.britypopup-box {
		height: auto;
	}
	.main-buttonaction.posstatic {
		margin-top: 0;
		margin-bottom: -15px;
	}
}
.brity-modalcontainer.largepopup.smalllarge {
	.britypopup-box {
		width: 464px;
		height: 542px;
		border-radius: 8px;
	}
}
span.characters {
	color: #a5a5a5;
	font-size: 11px !important;
	bottom: -23px;
	font-size: 12px;
	position: absolute;
	right: 0;
}
.policycontent.checkboxcontent.myultiple-texts-input {
	background: none;
	ul {
		li {
			&:nth-child(2n) {
				margin-right: 0;
			}
			background: none;
			border: none;
			width: calc(50% - 20px);
			margin-right: 40px;
			position: relative;
			margin-bottom: 0px;
			span {
				margin-bottom: 4px;
				color: #000000;
				width: 150px;
				padding-right: 0;
				margin-right: 0;
				line-height: 10px;
			}
			span.characterscountsonurl {
				position: absolute;
				right: 0;
				width: auto;
				bottom: -4px;
				color: #a5a5a5;
				font-size: 11px !important;
			}
		}
	}
	.dividation-counters {
		>ul {
			>li {
				width: 80px;
				float: left;
				display: block;
				padding: 0;
				margin: 0;
				line-height: inherit;
				min-height: unset;
			}
		}
	}
}
.brity-modalcontainer.largepopup.unsetheight.mediumbritypopup {
	.britypopup-box {
		width: 704px;
		height: auto;
		border-radius: 8px;
	}
	.main-buttonaction.posstatic {
		height: auto;
	}
}
.general-info-brity.infowith-inputs.mediumsizepopupform {
	ul {
		li {
			>label {
				width: 120px !important;
			}
			input[type='text'] {
				width: 100%;
			}
			input[type='number'] {
				width: 100%;
			}
			.content-sides {
				display: block;
				float: left;
				width: calc(100% - 132px);
			}
		}
	}
}
/* custom charactercount in config page */
.characterscounts {
	width: 130px;
	text-align: right;
	padding: 0;
	margin: 0;
	color: #a5a5a5;
	font-size: 11px !important;
	line-height: 4px;
	margin-bottom: 10px;
}
/* custom charactercount in config page end*/
/* For red color use */
em.redish-shade {
	font-weight: normal;
	font-style: normal;
	color: #ff0000;
}
.no-italics {
	font-style: normal;
}
/* For red color use end*/
.dividation-counters {
	float: left;
	width: 100%;
	padding-left: 8px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	margin-bottom: 15px;
	height: 31px;
	line-height: 19px;
	ul {
		margin: 0;
		padding: 0;
	}
}
li.dividation-checks.newcenteredcss {
	.policycontent.checkboxcontent {
		margin-left: 32.66%;
	}
}
form.brityiframe {
	ul {
		li.parent {
			ul {
				li.dividation-checks.newcenteredcss {
					span.everycenter {
						position: absolute;
						display: block;
						padding: 0;
						margin: 0;
						top: 50% !important;
						padding-left: 8px;
						transform: translate(0%, -50%);
						left: 0;
						bottom: unset !important;
					}
				}
			}
		}
	}
}
form.brityiframe.britythree.editpage.enabledisablestatus.britybigpopups {
	ul {
		li {
			position: relative;
		}
	}
}
form.brityiframe.britythree.editpage.enabledisablestatus {
	li.dividation-checks.newcenteredcss {
		.toggle-slide-brity {
			position: absolute;
			display: block;
			padding: 0 !important;
			margin: 0;
			top: 50% !important;
			padding-left: 8px;
			transform: translate(0%, -50%);
			left: 24.06%;
			bottom: unset !important;
			line-height: normal;
			min-height: unset;
			span.statusname {
				top: unset;
			}
		}
		>label {
			min-height: unset;
		}
	}
	ul {
		li.parent {
			ul {
				li {
					>label {
						line-height: normal;
						padding-top: 12px;
						padding-bottom: 12px;
					}
				}
				li.dividation-checks.newcenteredcss {
					>label {
						padding-top: 0;
						padding-bottom: 0;
					}
				}
			}
		}
	}
}
.content-sides {
	label.radio-button {
		cursor: pointer;
		width: auto;
	}
}
form.brityiframe.britythree.editpage.only-for-tenant.tenant-editing {
	.dropdownmodify {
		padding-left: 0px;
	}
	ul {
		li.parent {
			ul {
				li {
					.policycontent {
						width: 67.1%;
					}
				}
			}
		}
	}
}
form.brityiframe.britythree.editpage.only-for-tenant.enabledisablestatus.britybigpopups {
	.dropdownmodify {
		padding-left: 0px;
	}
	button.dropbtn {
		img {
			top: 8px !important;
		}
	}
}
.table-section.add-ws-tnt {
	form.brityiframe.britythree {
		.dropdownmodify {
			padding-left: 0;
			left: 0;
		}
	}
	form.brityiframe.britythree.editpage {
		.dropdownmodify {
			button.dropbtn {
				img {
					top: 3px !important;
				}
			}
		}
	}
	li.dividation-checks.newcenteredcss {
		.policycontent.checkboxcontent {
			margin-left: 34.1%;
		}
	}
}
form.brityiframe.britythree.editpage.only-fp-three.britybigpopups {
	ul {
		li {
			>label {
				max-width: 19% !important;
			}
		}
	}
}
form.brityiframe.britybigpopups {
	padding: unset;
}
form.brityiframe.britythree.editpage.britybigpopups {
	.dropdownmodify {
		button.dropbtn {
			img {
				top: 3px !important;
			}
		}
	}
}
.policycontent.policy-with-chractercounting {
	.characterscounts {
		position: absolute;
		bottom: 0;
	}
	padding-bottom: 20px;
	padding-top: 10px;
}
.modify-srch-side.modifysrchtables {
	.select_box.select200.tenant {
		width: 160px;
		button {
			width: 100%;
		}
	}
}
.select_box.select200.tenant.tenant-regular-member {
	.dropdownmodify.mT8 {
		width: 100% !important;
	}
}
.britypopup-box.change-notifier {
	.lowspacing-popup-table-header {
		.drop-searchsection {
			width: 196px;
		}
	}
	.drop-searchsection {
		border: 1px solid #0003;
		border-radius: 0 4px 4px 0;
		height: 30px;
		margin-top: 6px;
		padding: 0 8px 0 12px;
		width: 166px;
		input[type='text'] {
			margin-left: 0;
			padding-left: 0;
			font-size: 13px;
			font-style: normal;
			font-weight: 400;
			line-height: 20px;
			width: auto;
			width: calc(100% - 50px);
		}
	}
}
.configurls {
	margin: 5px 0;
}
.brity-modalcontainer.largepopup.unsetheight.mediumbritypopup.add-update-policy {
	.britypopup-box.increase-width {
		width: 984px;
	}
}