table.userpolicy {
	tr {
		th {
			display: table-cell;
			position: relative;
			min-width: 130px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			max-width: 130px;
			cursor: default;
			&:nth-child(2) {
				width: 12.8%;
			}
			&:nth-child(3) {
				width: 20.24%;
			}
			&:nth-child(4) {
				width: 17.9%;
			}
			&:nth-child(5) {
				width: 16.9%;
			}
			&:nth-child(6) {
				width: 21.97%;
			}
			&:nth-child(7) {
				width: 7.65%;
			}
		}
		td {
			display: table-cell;
			min-width: 130px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			max-width: 130px;
			&:nth-child(2) {
				width: 12.8%;
			}
			&:nth-child(3) {
				width: 20.24%;
			}
			&:nth-child(4) {
				width: 17.9%;
			}
			&:nth-child(5) {
				width: 16.9%;
			}
			&:nth-child(6) {
				width: 21.97%;
			}
			&:nth-child(7) {
				width: 7.65%;
			}
		}
	}
}
/*user policy show division start*/
table.userpolicy.showDiv {
	tr {
		th {
			&:nth-child(2) {
				width: 12.8%;
			}
			&:nth-child(3) {
				width: 20.24%;
			}
			&:nth-child(4) {
				width: 17.9%;
			}
			&:nth-child(5) {
				width: 16.9%;
			}
			&:nth-child(6) {
				width: 13%;
			}
			&:nth-child(7) {
				width: 15%;
			}
			&:nth-child(8) {
				width: 7.65%;
			}
		}
		td {
			&:nth-child(2) {
				width: 12.8%;
			}
			&:nth-child(3) {
				width: 20.24%;
			}
			&:nth-child(4) {
				width: 17.9%;
			}
			&:nth-child(5) {
				width: 16.9%;
			}
			&:nth-child(6) {
				width: 13%;
			}
			&:nth-child(7) {
				width: 15%;
			}
			&:nth-child(8) {
				width: 7.65%;
			}
		}
	}
}
/*user policy show division end*/
table.userpolicy.withcheckbox.userPolicyListDetail {
	right: 8px !important;
}
/* knox new popups */
.grey-container-select-changes {
	float: left;
	width: 100%;
	background: #f9f9f9;
	padding: 0;
	max-height: 429px;
	overflow-x: hidden;
	overflow-y: auto;
	h4 {
		padding-bottom: 20px;
		font-size: 18px;
	}
}
table.userpolicy.workspacelist {
	tr {
		th.sub-parts {
			min-width: 350px;
			max-width: unset;
		}
	}
}
span.fuyllrow {
	display: block;
	float: left;
	width: 100%;
	text-align: center;
}
table.division-table {
	tr {
		display: table-row;
		background: #fff;
		th {
			min-width: 60px;
			text-align: center;
			padding: 0;
			height: 30px;
			font-weight: bold;
			white-space: pre-wrap;
			cursor: default;
			position: sticky;
			top: 0;
			z-index: 99999999;
			border-color: #fff;
			&::before {
				display: none;
			}
		}
		td {
			min-width: 60px;
			text-align: left;
			max-width: 80px;
			cursor: default;
			&:nth-child(6) {
				color: #000;
			}
		}
		th.policy-big-name {
			min-width: 192px;
		}
		>td {
			text-align: center;
			padding: 8px 4px;
		}
		&:nth-child(2) {
			th {
				position: sticky;
				top: 30px;
				z-index: 9999999999;
			}
		}
	}
	th {
		background: #ddd;
		border: 1px solid #bbb;
	}
	border-collapse: unset !important;
}
.britypopup-box.figma-exception-add.divided-table-popup {
	width: 1460px;
	width: calc(100% - 60px);
}
table.division-table.user-policy-dividation.user-policy {
	tr {
		&:nth-child(2) {
			th {
				&:nth-child(1) {
					color: red;
				}
				&:nth-child(6) {
					color: red;
				}
			}
		}
		td {
			&:nth-child(11) {
				background: #00000014;
				color: #000;
			}
		}
	}
}
table.division-table.user-policy-dividation {
	tr {
		&:last-child {
			span.britytooltip {
				top: -10px;
			}
		}
	}
}
/* user policy view by policy new changes */
.fix-left-policy {
	ul {
		li {
			svg {
				fill: #000;
				opacity: 0.6;
			}
			cursor: pointer;
		}
		margin: 0;
		padding: 0;
	}
}
.top-action-area.topaction-viewbypolicy.policy-section-newchanges {
	display: block;
	float: left;
	width: 100%;
	padding: 16px 24px;
	height: 240px;
	overflow: hidden;
	padding-bottom: 12px;
	.fix-left-policy {
		display: block;
		float: left;
		width: 240px;
		max-width: 240px;
		margin-right: 24px;
		border-right: 1px solid rgba(0, 0, 0, 0.1);
		padding-right: 16px;
		overflow-x: hidden;
		overflow-y: scroll;
		height: 207px;
		ul {
			li {
				font-size: 13px;
				height: 32px;
				margin: 0;
				line-height: 32px;
				padding-left: 6px;
				svg {
					float: right;
					position: relative;
					top: 12px;
					right: 11px;
				}
			}
			li.active {
				background: rgba(42, 130, 240, 0.14);
				border-radius: 4px;
				color: rgba(42, 130, 240, 1);
				svg {
					fill: rgba(42, 130, 240, 1);
					opacity: 1;
				}
			}
		}
	}
	.fix-right-policy {
		float: left;
		width: calc(100% - 264px);
		display: block;
		max-width: unset;
		margin-right: 0;
		overflow-x: hidden;
		overflow-y: scroll;
		height: 210px;
		ul {
			float: left;
			width: calc(33.85% - 24px);
			margin-right: 24px;
			margin-top: 4px;
			&:last-child {
				margin-right: 0;
			}
			li {
				margin-bottom: 8px;
				line-height: 18px;
				min-height: 20px;
				&:last-child {
					margin-bottom: 0;
				}
				em {
					line-height: 12px;
					top: 1px;
				}
			}
		}
	}
}
.content-area-scroll.special-scroll-chnages {
	min-width: 1023px;
	overflow: scroll;
}