.tilt-figma {
	float: left;
	width: 24px;
	text-align: center;
	line-height: 46px;
}
.top-action-area.figma-top-action {
	ul {
		li {
			label {
				margin-right: 30px;
			}
		}
	}
	input.top-searkey {
		max-width: 240px;
		font-size: 13px;
		font-style: normal;
		font-weight: 400;
		line-height: 20px;
	}
	border-top: 1px solid rgba(0, 0, 0, 0.14);
	.top-searkey {
		input {
			width: 100%;
			padding-right: 30px;
		}
		max-width: 240px;
		font-size: 13px;
		font-style: normal;
		font-weight: 400;
		line-height: 20px;
		letter-spacing: unset;
		width: 15%;
		float: left;
		position: relative;
	}
}
label.ml150 {
	margin-left: 150px;
}
.dropdownmodify.figmadropdowns {
	.dropdown-content {
		white-space: nowrap;
		a {
			padding-left: 8px;
			padding-right: 8px;
			margin-left: 8px;
			margin-right: 8px;
			border-radius: 4px;
		}
		a.activated {
			background: rgba(42, 130, 240, 0.14);
			color: rgba(42, 130, 240, 1);
		}
	}
	button {
		&:focus {
			background: #eaf3fd;
			border: 1px solid #2a82f0;
			color: rgba(42, 130, 240, 1);
		}
	}
	button.dropbtn {
		&:hover {
			background: rgba(0, 0, 0, 0.06);
			border: 1px solid rgba(0, 0, 0, 0.35);
			color: #000;
		}
		img {
			top: 10px;
		}
		svg {
			top: 10px;
		}
	}
}
.action-button.figma-action {
	button {
		font-size: 13px;
		font-style: normal;
		font-weight: 700;
		line-height: 20px;
		color: rgba(0, 0, 0, 0.6);
	}
	button.primary {
		color: #fff;
	}
}
.figma-table-heading {
	float: left;
	width: 100%;
	height: 37px;
	padding: 0px 30px;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: 24px;
	line-height: 37px;
}
.table-section.figma-tables {
	table.withcheckbox {
		tr {
			th {
				&:nth-child(1) {
					width: 40px;
					min-width: 40px;
					max-width: 40px;
				}
			}
			td {
				&:nth-child(1) {
					width: 40px;
					min-width: 40px;
					max-width: 40px;
				}
			}
		}
	}
	table {
		tr {
			td {
				padding-left: 8px;
				padding-right: 8px;
			}
			th {
				padding-left: 8px;
				padding-right: 8px;
			}
		}
		tr.blankimage {
			p.blankimage {
				font-size: 16px;
				font-style: normal;
				font-weight: 700;
				line-height: 24px;
			}
		}
	}
	.total-users {
		select {
			width: auto;
			margin-left: 10px;
		}
	}
	span.fillwidth100 {
		width: 100% !important;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 20px;
		padding: 0 !important;
	}
	button {
		color: rgba(0, 0, 0, 0.6);
		font-size: 13px;
		font-weight: 400;
		word-wrap: break-word;
		border: solid 1px rgba(0, 0, 0, 0.2);
		&:disabled {
			color: rgba(0, 0, 0, 0.3);
		}
	}
}
.search-details.figma-search {
	.total-users {
		width: auto;
		float: left;
		margin-right: 0;
		padding-right: 16px;
	}
	.table-header-button.figma-selection {
		padding-left: 30px;
		span.selected {
			color: rgba(0, 0, 0, 0.9);
			font-weight: 700;
		}
		span.deselected {
			font-weight: 700;
			color: #2a82f0;
		}
	}
	.table-header-button {
		width: auto;
		float: left;
		margin: 0;
		padding-left: 0;
	}
}
.top-drodown-title.figma-border-end {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.figma-tbl-srch {
	float: right;
	width: 200px;
	height: 30px;
	padding: 0px 8px 0px 12px;
	border-radius: 4px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	background: #fff;
	position: relative;
	margin-top: 4px;
	input {
		border: none;
		padding: 0;
		margin: 0;
		float: left;
		line-height: 26px;
	}
	img {
		position: absolute;
		right: 5px;
		top: 4px;
		cursor: pointer;
	}
}
/* workspace */
table.userpolicy.workspacelist {
	tr {
		td {
			min-width: 100px;
			max-width: 400px;
			width: 31%;
		}
		th {
			min-width: 100px;
			max-width: 400px;
			width: 31%;
			svg {
				cursor: pointer;
			}
		}
	}
}
.action-button.figma-action.figma-bottom-actions {
	button {
		width: auto;
		min-width: 76px;
		color: rgba(0, 0, 0, 0.9);
	}
	button.primary {
		width: auto;
		min-width: 76px;
		color: #fff;
	}
}
.alloed-ip-area {
	float: left;
	width: 100%;
	padding: 0 32px;
	height: 48px;
	line-height: 48px;
	position: relative;
	>span.simpltxt {
		color: black;
		font-size: 16px;
		font-weight: 700;
		line-height: 48px;
		word-wrap: break-word;
		float: left;
	}
	img {
		padding-top: 17px;
		float: left;
		margin-left: 6px;
	}
}
.tab1 {
	&:hover {
		border-bottom: 2px solid #111;
	}
}
.tab2 {
	&:hover {
		border-bottom: 2px solid #111;
	}
}
table {
	tr.activatedrow {
		background: #eaf3fd;
	}
}
table.popuptable {
	tr {
		&:hover {
			background: #f2f2f2;
		}
	}
}
.general-info-brity.general-info-figma {
	padding: 0 32px;
	border-top: 1px solid rgba(0, 0, 0, 0.14);
	padding-bottom: 30px;
}
.topbordernone {
	border-top: none !important;
}
.tablename.figmatabingtablename {
	height: 48px;
	select.fr.selecttitle {
		margin-top: 0;
	}
}
.figma-disable-checksradio {
	opacity: 0.4;
}
form.brityiframe.britythree.editpage.tenant-editing {
	ul {
		li.parent {
			ul {
				li.dividation-checks {
					>label {
						min-height: 300px;
					}
				}
			}
		}
	}
}
.britypopup-box.figma-exception-add {
	.userlist-area {
		ul {
			li {
				&:hover {
					background: rgba(0, 0, 0, 0.06);
					border-radius: 4px;
				}
			}
			li.activated {
				background: #eaf3fd;
				border-radius: 4px;
				color: #2a82f0;
			}
		}
	}
	.lowspacing-popup-table-header {
		.drop-searchsection {
			width: 196px;
		}
	}
}
/* figma editing new box */
form.brityiframe.britythree.editpage.tenant-editing.figmabrity-editing {
	.parent-main-titles {
		span {
			margin: 0;
			padding: 0;
			font-size: 12px;
			font-weight: normal;
		}
	}
	ul {
		li.parent {
			ul {
				li {
					.policycontent {
						input {
							width: 123px;
						}
					}
					.adjust-checks {
						label.britychecks {
							margin-bottom: 26px;
						}
					}
					.policycontent.checkboxcontent {
						label.britychecks {
							span.checkmark.radios {
								width: 16px;
								height: 16px;
							}
						}
					}
				}
			}
		}
	}
	.figma-addition {
		input {
			background: none;
			border: none !important;
			margin: 0 !important;
			height: auto !important;
			padding: 0 !important;
			float: left;
		}
	}
	.britychecks {
		input {
			&:checked {
				~ {
					.checkmark.radios {
						border: 1px solid #2a82f0;
					}
				}
			}
		}
	}
}
.figma-addition {
	width: 350px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	padding: 3px 12px;
	height: 30px;
	background: #fff;
	border-radius: 4px;
	position: relative;
	margin-top: 6px;
	button {
		height: 24px;
		padding: 4px 6px;
		justify-content: center;
		align-items: center;
		border: none;
		border-radius: 4px;
		background: #ccc;
		font-size: 12px;
		font-style: normal;
		font-weight: 700;
		line-height: 18px;
		color: #fff;
		position: absolute;
		top: 0;
		right: 4px;
		top: 2px;
		width: 51px;
		pointer-events: none;
	}
	input {
		width: 80% !important;
		background: none;
		border: none !important;
		margin: 0 !important;
		height: 20px !important;
		padding: 0 !important;
		float: left;
	}
	button.enable-button {
		background: #2a82f0;
		pointer-events: unset;
	}
}
.figma-addition.figma-disabled-custom {
	button {
		pointer-events: none;
	}
	input {
		background: #eaeaea !important;
	}
	background: #eaeaea !important;
}
.mL6 {
	margin-left: 6px;
}
table.userpolicy.withcheckbox.groupdetail-userconfig {
	tr {
		th {
			&:nth-child(2) {
				width: 9%;
			}
			&:nth-child(3) {
				width: 19.8%;
			}
			&:nth-child(4) {
				width: 12%;
			}
			&:nth-child(5) {
				width: 12%;
			}
			&:nth-child(6) {
				width: 12%;
			}
			&:nth-child(7) {
				width: 18.5%;
			}
			&:nth-child(8) {
				width: 14.8%;
			}
		}
		td {
			&:nth-child(2) {
				width: 9%;
			}
			&:nth-child(3) {
				width: 19.8%;
			}
			&:nth-child(4) {
				width: 12%;
			}
			&:nth-child(5) {
				width: 12%;
			}
			&:nth-child(6) {
				width: 12%;
			}
			&:nth-child(7) {
				width: 18.5%;
			}
			&:nth-child(8) {
				width: 14.8%;
			}
		}
	}
}
.exception-figma-fix {
	float: left;
	height: 40px;
	position: absolute;
	bottom: 0;
	border-top: 1px solid #dbdbdb;
	width: calc(100% - 24px);
	svg {
		margin: 9px 4px;
		cursor: pointer;
		&:hover {
			+ {
				span.britytooltip {
					display: block;
				}
			}
		}
	}
	span.britytooltip {
		bottom: -28px;
		background: rgba(0, 0, 0, 0.9);
	}
}
form.brityiframe {
	ul {
		li.parent {
			ul {
				li {
					.policycontent {
						.adding-list {
							ul {
								li {
									display: block;
									float: left;
									border-radius: 100px;
									border: 1px solid var(--c-border-normal, rgba(0, 0, 0, 0.2));
									background: var(--c-bg-solid-normal_var04, #fff);
									height: 24px;
									padding: 0px 6px;
									align-items: center;
									width: auto;
									line-height: unset;
									min-height: auto;
									font-style: normal;
									margin-right: 10px;
									margin-top: 10px;
									span {
										padding: 0;
										margin: 0;
										height: auto;
										min-height: unset;
										font-size: 12px;
										font-style: normal;
										font-weight: 700;
										line-height: 20px;
										color: rgba(0, 0, 0, 0.9);
										cursor: default;
									}
									em {
										display: block;
										float: left;
										min-height: unset;
										height: auto;
										line-height: 20px;
										padding-left: 10px;
										padding-right: 6px;
										cursor: pointer;
									}
								}
							}
						}
						width: 100% !important;
					}
					.policycontent.view-only {
						.adding-list {
							ul {
								li {
									span {
										color: rgba(0, 0, 0, 0.3);
									}
								}
							}
						}
					}
					display: flex;
					span.everycnter {
						position: static !important;
					}
					.policycontent.checkboxcontent.policy-radios {
						label {
							>em {
								margin-right: 34px;
							}
						}
					}
				}
			}
		}
	}
}
.adding-list {
	margin-top: 0px;
	margin-bottom: 12px;
	float: left;
}
.disable-click {
	pointer-events: none;
}
.all-checks-right {
	display: block;
	overflow: visible;
	margin: auto;
	width: 65.77% !important;
	clear: both;
}
table.userpolicy.withcheckbox.groupdetail-userconfig.without-division {
	tr {
		th {
			min-width: 200px;
			&:nth-child(2) {
				width: 13%;
			}
			&:nth-child(3) {
				width: 21.8%;
			}
			&:nth-child(4) {
				width: 14%;
			}
			&:nth-child(5) {
				width: 14%;
			}
			&:nth-child(6) {
				width: 19%;
			}
			&:nth-child(7) {
				width: 16.5%;
			}
			&:nth-child(1) {
				min-width: 40px;
			}
		}
		td {
			min-width: 200px;
			&:nth-child(2) {
				width: 13%;
			}
			&:nth-child(3) {
				width: 21.8%;
			}
			&:nth-child(4) {
				width: 14%;
			}
			&:nth-child(5) {
				width: 14%;
			}
			&:nth-child(6) {
				width: 19%;
			}
			&:nth-child(7) {
				width: 16.5%;
			}
			&:nth-child(1) {
				min-width: 40px;
			}
		}
	}
}
.lesspriority {
	z-index: 1 !important;
}
/* rendering popup issue start */
.brity-modalcontainer.largepopup.rendering-issue {
	display: flex;
	.britypopup-box {
		transform: unset;
		margin: auto;
		position: static;
	}
}
/* rendering popup issue End */
.britypopup-box {
	table {
		tr {
			td {
				&:last-child {
					span.tblsimpletxt {
						&:hover {
							span.britytooltip {
								right: 8px !important;
							}
						}
					}
				}
			}
		}
	}
}
.only-dropdowninpopup {
	.dropdownmodify {
		.dropdown-content {
			margin-top: 4px;
		}
	}
}
.lowspacing-popup-table-header {
	.drop-searchsection.cus-search-popup {
		>input {
			width: calc(100% - 25px) !important;
		}
	}
}
.top-searkey {
	svg {
		position: absolute;
		top: 18px;
		right: 4px;
		height: 12px;
		width: 12px;
		max-width: 12px;
		max-height: 12px;
	}
}
.newsearchinput-withdropdown {
	margin-right: 0;
	width: 300px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	position: relative;
	.dropdownmodify {
		button.dropbtn {
			border: none !important;
			float: left;
			width: 102px;
			line-height: 30px;
			padding-left: 8px;
			padding-right: 0;
		}
	}
	input {
		border: none;
		float: left;
		width: calc(100% - 128px);
		height: 30px;
		border-left: 1px solid rgba(0, 0, 0, 0.2);
		padding-left: 8px;
	}
	svg {
		position: absolute !important;
		right: 8px !important;
		top: 8px !important;
		cursor: pointer;
		width: 12px;
		height: 12px;
		min-width: 12px;
		min-height: 12px;
	}
	&:hover {
		border: 1px solid #2a82f0;
	}
}
.search-details.figma-search.standard-size-search {
	float: left;
	width: 100%;
	padding-right: 30px;
}
table.userpolicy.group-member {
	tr {
		th {
			min-width: 300px;
			&:nth-child(1) {
				width: 18.2%;
			}
			&:nth-child(2) {
				width: 18.2%;
			}
			&:nth-child(3) {
				width: 18.2%;
			}
			&:nth-child(4) {
				width: 18.2%;
			}
			&:nth-child(5) {
				width: 24.8%;
			}
		}
		td {
			min-width: 300px;
			&:nth-child(1) {
				width: 18.2%;
			}
			&:nth-child(2) {
				width: 18.2%;
			}
			&:nth-child(3) {
				width: 18.2%;
			}
			&:nth-child(4) {
				width: 18.2%;
			}
			&:nth-child(5) {
				width: 24.8%;
			}
		}
	}
}
form.brityiframe.britythree.editpage.figmabrity-editing.only-two-heads {
	ul {
		li.parent {
			ul {
				li {
					>label {
						padding-left: 0 !important;
						margin-left: 10px !important;
						width: 37%;
					}
				}
			}
		}
	}
	.form-header.threeform {
		>label {
			padding-left: 0 !important;
			margin-left: 10px !important;
			width: 32.5%;
			position: static;
		}
		>span {
			width: auto;
		}
	}
}
form.brityiframe.britythree.editpage.figmabrity-editing {
	ul {
		li.parent {
			ul {
				li {
					>label {
						width: 19%;
					}
				}
			}
		}
	}
	.form-header.threeform {
		>label {
			&:nth-child(2) {
				float: left;
				max-width: unset;
				position: relative !important;
				margin-left: 10px !important;
				padding-left: 0 !important;
				width: 33%;
				text-align: right;
				padding-right: 10px;
				&::before {
					background: #00000024;
					content: '';
					display: block;
					height: 14px;
					left: unset;
					margin-left: 0;
					position: absolute;
					top: 13px;
					width: 1px;
					right: 155px;
				}
			}
			position: absolute;
			left: 0;
		}
	}
}
/* tooltip for the domain data types start */
.policycontent {
	&:hover {
		.figma-disabled-custom {
			span.britytooltip {
				display: block !important;
				padding: 8px;
			}
		}
	}
}
.figma-disabled-custom {
	pointer-events: all !important;
	cursor: default;
	position: relative;
	opacity: 1;
	span.britytooltip {
		white-space: pre-wrap;
		position: absolute;
		word-break: break-all;
		background: #000 !important;
		display: none;
		max-width: 316px;
		height: auto;
		bottom: 80%;
		padding: 4px 10px;
		border-radius: 4px;
		font-size: 12px;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.75;
		text-align: left;
		color: #fff;
		z-index: 99;
		background-color: rgba(0, 0, 0, 0.9);
		left: 20px;
		bottom: -45px;
		min-width: 260px;
		top: 30px;
		padding: 10px;
		left: 13px;
		bottom: -45px;
		min-width: 264px;
		top: 30px;
		padding: 10px;
		display: none !important;
		height: max-content;
		height: max-content;
		padding: 8px;
		width: 264px;
		white-space: unset;
	}
}
.policycontent.view-only {
	.figma-disabled-custom {
		&:hover {
			span.britytooltip {
				display: block;
			}
		}
	}
	span.britytooltip {
		padding: 8px;
		display: none;
	}
}
/* for the domain data types end */
.tables {
	table {
		th {
			svg {
				margin-left: 3px;
				position: absolute;
				top: 12px;
				cursor: pointer;
			}
		}
	}
}
table.userpolicy.server-auth {
	tr {
		th {
			width: 10%;
		}
		td {
			width: 10%;
		}
	}
}
.workspace-button-area {
	.drop-searchsection.cus-search-popup {
		.dropdownmodify {
			button {
				width: 74px;
			}
		}
	}
}
.search-details.smallfigmapagina.lowspacing-popup-table-header.workspace-button-area {
	.drop-searchsection.cus-search-popup {
		.dropdown-content {
			min-width: 108px;
			left: -86px;
		}
	}
}
table.division-table.workspace-policy-dicider {
	tr {
		th {
			padding: 4px 12px;
			text-align: left;
			width: 6%;
			&:nth-child(5) {
				min-width: 300px;
			}
			&:nth-child(6) {
				min-width: 225px;
			}
			&:nth-child(7) {
				min-width: 225px;
			}
			&:nth-child(1) {
				max-width: 80px;
				min-width: unset;
			}
			&:nth-child(4) {
				max-width: 80px;
				min-width: unset;
			}
		}
		td {
			padding: 4px 12px;
			text-align: left;
			&:nth-child(1) {
				max-width: 80px;
				min-width: unset;
			}
			&:nth-child(4) {
				max-width: 80px;
				min-width: unset;
			}
		}
	}
}
.brity-modalcontainer.largepopup.rendering-issue.lesspriority.workspace-modal-width {
	.britypopup-box.figma-exception-add.divided-table-popup {
		width: 1460px;
	}
	table.division-table.workspace-policy-dicider {
		tr {
			th {
				&:nth-child(2) {
					min-width: 120px;
				}
				&:nth-child(3) {
					min-width: 130px;
				}
			}
		}
	}
}